[2017-10-16 21:29] giannisk opened #1 "User receives an inaccurate notification upon e-mail activation"
### Expected Results
An activation e-mail is sent to the user who registers for an account. Then, the user is notified accordingly.

### Actual Results
The activation e-mail is sent, however the user receives an inaccurate notification.

The message reads "An activation link was send to your email". This is true, in spite of the typo. Following the message is an input box that reads "email" and a

[2017-10-17 10:39] giannisk opened #2 ".DS_Store files located within the code base"
### Expected Results
N/A

### Actual Results
Multiple .DS_Store files, supposedly generated by the Finder file manager in the macOS operating system, can be found in the code base.

### Browser and Screen Resolution
N/A

### Steps to Reproduce
N/A

### Comments
.DS_Store files should be removed.

[2017-10-17 22:54] giannisk opened #3 "Bridge sidebar wrongly displays scroll bar"
### Expected Results
Accessing bridge items will bring up the sidebar to the left of the screen. The sidebar displays various info, respectively.

### Actual Results
The sidebar is brought up upon user selection, however it always displays a scroll bar. Not only is the scroll bar generally not needed if the sidebar doesn't list too much content, but also this particular scroll bar is un-clickable.

[2017-10-17 23:08] giannisk opened #4 "User authentication via GitHub"
### Expected Results
It would be nice for users to be able to authenticate via GitHub.

### Actual Results
N/A

### Browser and Screen Resolution
N/A

### Steps to Reproduce
N/A

### Comments
N/A

[2017-10-29 16:04] elioqoshi opened #5 "Sections not immediately added after being added (need page refresh)"
### Expected Results

Sections should be added in real time without the need to refresh.

### Actual Results

After clicking on "Add section" on any asset type (Icons, Colors, Fonts, Images) the new section does not appear and nothing changes. It appears however after refreshing the page.

[2017-10-29 16:13] elioqoshi opened #6 "cannot create identities when name is already taken"
It seems that Identihub uses a soft-delete method to deleted Identities. Also it stores them in the database under their names. Latter makes it impossible for any user to create a identity with the same name as it conflicts with an already existing identity under the same name (it also gives no error for this). Identities should probably be identified by an ID Number instead of a name. This would

[2017-10-29 16:14] elioqoshi commented on #3
I'd call this a bug, not an enhancement to be honest. Assigning @AleksanderKoko

[2017-10-29 16:16] elioqoshi commented on #1
Closing this since it's expected behaviour in case the user puts in the wrong email and can try sending it again.

[2017-10-29 16:16] #1 closed

[2017-10-29 20:21] elioqoshi opened #7 "Change name of "Bridges" to "Projects""
I noticed that "Bridges" as a term for an Identity Page seemed confusing to people. Let's change it to "Projects". Also in the URL slug, instead of /bridge/ let's make it /project/

[2017-10-29 20:45] elioqoshi opened #8 "Assets cannot be drag'n'drop-ed to first or last place of a row"
Rearranging any assets by drag'n'drop to the first or last spot in a row is not possible and it will fall back where it was. It can only be rearranged to the middle of a row.

[2017-10-29 21:37] elioqoshi opened #9 "Fonts have weights in values instead of names"
When a new font family from Google Fonts is added, it asks which weights to be added. These are shown in weight values (300,500,600...) instead of names (Regular, SemiBold, Bold...). They should be shown in latter.

[2017-10-29 22:00] elioqoshi opened #10 "Make Asset Type Headers editable"
Asset Type Names (Icons, Colors, Fonts, Images) should be editable in case the page owner wants it to be different (for example sometimes instead of "Icons" it could be "Logos")

This feature can behave in a similar fashion as the section titles.

[2017-10-29 22:01] elioqoshi commented on #10
@AleksanderKoko this is probably something for @IlirHushi once he is onboard. Do you think it's easily doable?

[2017-10-29 22:31] elioqoshi opened #12 "My Projects menu item not available when on a project page or Projects Overview"
### Expected Results
The projects menu item should be shown on the menu everywhere, not only on the landing page of Identihub.

### Actual Results
The projects menu item (e.g: Elio Qoshi) is not on the menu when on an project page or "My Projects/Bridges" Overview.

### Browser and Screen Resolution

Firefox Nightly 58.0a1 (2017-10-28) (64-bit)
1920x1080

### Steps to Reproduce

Go to "My Projects

[2017-10-29 22:37] elioqoshi opened #13 "Projects have no name under thumbnail in projects overview"
### Expected Results
A label underneath the thumbnail for every Project/Bridge in the Projects Overview would indicate the name of it.

### Actual Results
Projects have no names in the Projects overview and can only be identified by their thumbnail.

### Browser and Screen Resolution
Firefox Nightly 58.0a1 (2017-10-28) (64-bit)
1920x1080

### Steps to Reproduce
Go to My Projects

### Comments

[2017-10-29 22:47] elioqoshi opened #14 "Featured Thumbnail in Projects Overview is not customizable"
### Expected Results
Any icon asset could be set as "Featured" image for that project so it would appear as the thumbnail of that project in the project overview.

### Actual Results
The first uploaded asset in the project is automatically used as a thumbnail for that project and cannot be changed by the user.

### Browser and Screen Resolution
Firefox Nightly 58.0a1 (2017-10-28) (64-bit)
1920x108

[2017-10-30 11:13] elioqoshi opened #15 "Wider User Interface & 4 columns view on project page"
### Expected Results

As 4 is a more a symmetrical number, it would make sense for each row on a project page to have 4 assets instead of 3. This would also allow the section description to be in a bigger text size for easier reading (from 10px to 12px)

### Actual Results

Currently, the assets are in 3 columns and section description is in 10px which is quite small

### Browser and Screen Resolu

[2017-10-30 11:19] elioqoshi commented on #15
@AleksanderKoko said he could take this on.

[2017-10-30 11:34] elioqoshi opened #16 "Allow public users to download icons in any resolution"
### Expected Results
Visitors who want to download an icon or image can do so by putting in their desired resolution and Identihub spits out that image on the fly for the user to download.

### Actual Results
The admin of the Identity is the only one who is able to add new resolutions to an asset which can be downloaded. Any visitor cannot download a converted PNG outside the resolutions set by th

[2017-10-30 15:46] elioqoshi opened #17 "specify custom filenames for assets in their setting page"
### Expected Results
Assets can be named individually in their settings so downloading them will results in them having custom filenames (SVG and PNG) instead of random strings. Their default name could be PROJECTNAME_SECTIONNAME_#.svg for example Ura_Horizontal_1.svg

### Actual Results
Assets have random long strings when downloaded

### Browser and Screen Resolution

### Steps to Reproduce
Down

[2017-10-30 16:12] elioqoshi opened #18 "asset download resolution in tenths after decimal point"
### Expected Results

Asset resolution should be locked to their aspect ratio and when changing one of its dimensions, the other dimension changes accordingly to its full decimal number. So it should be 98px instead of 98.3357px

### Actual Results

Resolutions are shown with values after decimal number, for example: 98.3357px

### Browser and Screen Resolution

### Steps to Reproduce

### Comment

[2017-10-30 16:27] elioqoshi opened #19 "delay in opening project after clicking on it in the projects overview"
### Expected Results
Project should be opened right away after clicking once on its thumbnail in the project overview.

### Actual Results
There is often a delay or unresponsiveness after clicking on a project in the project overview and the project page doesn't get opened. It eventually opens after clicking a few times (with quite a lot of delay)

### Browser and Screen Resolution

### Steps to R

[2017-10-31 07:55] elioqoshi opened #21 "enable keyboard navigation on asset page"
### Expected Results

An asset page can be opened by pressing the Esc key and the user can go to the next asset or to the previous asset by a press of the keyboard arrow buttons < >

### Actual Results

Keyboard navigation on the asset page is not possible right now and the user needs to navigate with the mouse

### Browser and Screen Resolution

### Steps to Reproduce

Open any asset page on a pr

[2017-11-01 15:23] AleksanderKoko commented on #19
That's a link problem. The link is only active on the image area, not the whole card. On the other cards, the link is active on the whole card. Quick fix.

[2017-11-01 15:37] AleksanderKoko commented on #3
This is a bug for sure. The problem is that both on Firefox and on Chrome I don't have this scrollbar. I tried the demo version and also the current version that I have installed on my machine and it's not visible for me. I think this is a Windows/Linux issue. Sometimes Browsers have differences on different OS-es.

[2017-11-01 15:42] AleksanderKoko commented on #10
@elioqoshi . Actually, this is a feature, it needs a bit of work. The system was designed for them to be static. But won't be that hard to code this I believe, it is doable.

[2017-11-01 16:58] AleksanderKoko commented on #13
Actually, I did this because it was on my GitHub notifications. Didn't even noticed, I wasn't assigned.

[2017-11-01 17:13] AleksanderKoko commented on #8
I tested this one and it works. I think there may be a problem of the old code before being updated. Can we try a fresh install on the demo server and test this out? It's a common thing for data to be "corrupted" when in early stages, so a fresh install will do. Also, this would solve the deployment problem. Deployer wasn't a good idea for this kind of project.

[2017-11-01 23:45] elioqoshi commented on #8
@AleksanderKoko as said on PM, let's do that. Let's just make sure that we projects do not break after upgrades after the fresh install anymore.

[2017-11-01 23:47] elioqoshi commented on #13
Cool, thanks @AleksanderKoko

[2017-11-01 23:48] elioqoshi commented on #10
Thanks @AleksanderKoko I talked with @ilirhushi and he should be good to go

[2017-11-01 23:49] elioqoshi commented on #19
Thanks, let me know once you fixed it and we can close this issue @AleksanderKoko

[2017-11-10 10:13] elioqoshi commented on #21
This seems done. Thanks @ilirhushi, closing this

[2017-11-10 10:13] #21 closed

[2017-11-10 10:13] elioqoshi commented on #19
@AleksanderKoko thanks for this. Closing.

[2017-11-10 10:13] #19 closed

[2017-11-10 10:14] elioqoshi commented on #18
@AleksanderKoko assigning this to @ilirhushi

[2017-11-10 10:16] elioqoshi commented on #6
This seems to be halfway fixed now, however one cannot create projects with a URL which a deleted project had before it was deleted. The solution here would be to use hard delete I suppose so the URL's aren't squatted by projects any longer.  @ilirhushi can you switch deletion of projects to hard delete instead?

[2017-11-10 10:20] ilirhushi commented on #6
yeah I can do that, @elioqoshi you can assign the task to me

[2017-11-10 10:31] elioqoshi commented on #13
Done. Thanks @AleksanderKoko

[2017-11-10 10:31] #13 closed

[2017-11-10 11:21] elioqoshi commented on #17
@ilirhushi party incorporated this by giving every asset an ascending number starting with the URL slug of the project. e.g: ura-design_001.svg

We will add custom filenames for every asset which can be changed by the admin later on since it's not a pressing priority.

[2017-11-10 11:34] elioqoshi commented on #12
Thanks @AleksanderKoko . Closing this

[2017-11-10 11:34] #12 closed

[2017-11-10 12:06] elioqoshi commented on #15
This works like a charm. Thanks @AleksanderKoko

[2017-11-10 12:06] #15 closed

[2017-11-10 12:08] elioqoshi commented on #8
This seems much improved although it still kinda lags sometimes. It does the job very well for now though. We can finetune in the stable release next year I guess. Thanks @AleksanderKoko

[2017-11-10 12:08] #8 closed

[2017-11-10 12:08] elioqoshi commented on #9
@AleksanderKoko fixed this. closing

[2017-11-10 12:08] #9 closed

[2017-11-10 12:12] elioqoshi commented on #5
Fixed. Thanks @AleksanderKoko

[2017-11-10 12:12] elioqoshi commented on #7
Done. Thanks @AleksanderKoko

[2017-11-10 12:12] #7 closed

[2017-11-10 12:13] #5 closed

[2017-11-10 12:13] brantje commented on #18
You can cast it to an integer with `(int) $variable` in php, or use the javascript `parseInt()` function.

[2017-11-10 12:17] brantje commented on #3
Also happens on Windows 10 Chrome
![image](https://user-images.githubusercontent.com/2758767/32658291-8f09bdc2-c619-11e7-82d8-643b73bb9d04.png)

[2017-11-10 12:19] brantje commented on #3
![image](https://user-images.githubusercontent.com/2758767/32658325-b97c4b60-c619-11e7-90cf-717ae028e3f3.png)
Replace scroll with `auto` should fix it.

[2017-11-10 14:22] elioqoshi commented on #4
pushing this further down the road as less of a priority compare to the other features @ilirhushi needs to implement.

[2017-11-10 16:36] elioqoshi commented on #3
@brantje fixed this I think. Let's push this live.

[2017-11-10 20:40] elioqoshi opened #23 "consistent margins on asset thumbnails"
Currently, there is inconsistent displaying of SVG icons in their thumbnails.
Example: https://demo.identihub.co/project/ooni
or: https://demo.identihub.co/project/firefox

![image](https://user-images.githubusercontent.com/5436686/32677636-75e640b8-c65f-11e7-8428-7933319ec583.png)

![image](https://user-images.githubusercontent.com/5436686/32677414-9cc48100-c65e-11e7-9bf0-e77b10fef2bc.png)

All S

[2017-11-10 20:45] brantje commented on #23
Possible solution: make a child div with the image as a background
 height: 100%, width: 100;

[2017-11-11 11:22] rskikuli opened #24 "Error message shows after registering and trying to log in"
### Expected Results
After registering for an account a log in screen shows up, which should let the user to add the credentials of the registration and log in.

### Actual Results
When trying to log in (after registration) It shows an error page that looks like this https://imgur.com/a/u7lWe.

### Browser and Screen Resolution
Firefox

### Steps to Reproduce
See expected results process. Basicall

[2017-11-11 12:39] rskikuli opened #25 "Registration process: confirmation email design"
### Expected Results
A better looking automated email registration email with also a better content.

### Actual Results
A basic link: https://imgur.com/a/ReidO

### Browser and Screen Resolution
Used Thunderbird to receive the email.

### Steps to Reproduce
Follow the registration for new account process to receive the email.

### Comments
N/A

[2017-11-12 17:40] elioqoshi commented on #24
Trying to reproduce this. @rskikuli did you activate your account in the email before?

[2017-11-12 18:37] elioqoshi commented on #16
Okay, so @ilirhushi here is how this should work:

Any user (logged in or not) can convert and download any asset in any desired resolution. The user puts in the height and width dimensions of the output file they want and Identihub generates a new converted image in that specific resolution, which gets downloaded afterwards for the user who requested it.

In order to avoid the server getting cram

[2017-11-13 09:19] rskikuli commented on #24
Yes, I activated the account before, but it was a long time ago and I don't remember the flow or any issues unfortunately.

[2017-11-13 09:36] elioqoshi commented on #24
@rskikuli Then filing an issue is not adequate if the test is not fresh. Identihub's database was reset several times, so you should probably open a new account and see if that gives you any issues.

[2017-11-13 23:19] rskikuli commented on #24
The test was done the day I filed the issue @elioqoshi and it was generated while creating a NEW account.

[2017-11-14 07:59] elioqoshi commented on #24
@rskikuli right, pardon me. @borisbudini and me changed the mailserver password last week and I suppose that's the issue. It should work now.

[2017-11-14 09:33] elioqoshi opened #26 "don't display category for public users if it's empty"
Currently, if a Category has no assets, it's still displayed, even publicly:
![image](https://user-images.githubusercontent.com/5436686/32772514-5822b272-c926-11e7-92bc-c9ac38cb1937.png)
(project in the example: https://demo.identihub.co/project/mozilla-reps/ )
The screenshot is from a public instance. It even suggests to write a title or add a new image (which is supposed to be for admins)

Categ

[2017-11-14 09:40] brantje commented on #26
In [this](https://github.com/uracreative/identihub/blob/e8a349bc9ea082d311aee0d8b3166ff1085ac994/resources/assets/js/components/Section.js#L82) function there needs to be a check if the project is not empty.

[2017-11-14 21:12] rskikuli opened #27 "404 page design"
### Expected Results
Develop a creative '404 page' when user visits a page with no relevant content.

### Actual Results
The actual design looks something like this: https://imgur.com/HAEfhn5

### Browser and Screen Resolution
Firefox for Ubuntu. Screen resolution should not be relevant I think.

### Steps to Reproduce
Visit any long url with the set-up demo.identihub.co/(randomcharacters)

### Co

[2017-11-14 22:17] Borisbudini commented on #24
Hey @rskikuli
@elioqoshi was right on this. Since the SMTP password was changed, the user couldn't recive a verification email and that broke the login for new users. Now it is fixed so i am closing this issue

[2017-11-14 22:17] #24 closed

[2017-11-15 08:52] elioqoshi commented on #27
adding this to the v0.3 milestone end of January

[2017-11-15 08:58] tstreamDOTh commented on #26
@elioqoshi I would like to work on this

[2017-11-15 09:02] elioqoshi commented on #26
@tstreamDOTh Of course! Every contribution is appreciated! Sent us a PR and we will review it and let me know if you need anything :)

[2017-11-15 10:00] brantje opened #28 "Testing webhook, sorry"
Lorum ipsum ;D

[2017-11-15 10:01] #28 closed

[2017-11-15 10:02] brantje opened #29 "Last test"
Lorum ipsum

[2017-11-15 10:02] brantje commented on #29
ping

[2017-11-15 10:03] #29 closed

[2017-11-15 10:59] AleksanderKoko opened #30 "Google Font Update"
On the project right now exist a custom command that can update local fonts on the database. It can be accessed from the php artisan CLI. As a reminder, it can also be turned into cron job, I think it is in the configuration, but it needs the standart cron job configuration for Laravel and Linux.

Straight out of Laravel documentation:
* * * * * php /path-to-your-project/artisan schedule:run >> /d

[2017-11-15 11:01] elioqoshi commented on #30
Thanks @AleksanderKoko! @ilirhushi can you check this out? Also @Borisbudini you might want to check it out so you can do it in the future as well

[2017-11-15 14:05] elioqoshi opened #31 "implement optional password protection for projects"
In some cases, organizations want to use Identihub internally without making the project pages public (disable public share link). In some other cases, creators might want to add a password to the public page, so it can be only accessed by users having that password. Admins of that project can set and change the password anytime.

So:

- offer an option to disable the public link of a project
- of

[2017-11-15 14:06] elioqoshi commented on #31
@ilirhushi can we do this until December?

[2017-11-15 14:07] elioqoshi commented on #18
@ilirhushi this is not fixed yet. Did you submit a patch?

[2017-11-15 14:08] elioqoshi commented on #6
@ilirhushi I suppose you wrapped this up? Have you pushed the changes to the demo server?

[2017-11-15 14:11] elioqoshi commented on #3
@ilirhushi please check the patch and push this live

[2017-11-15 14:21] elioqoshi commented on #2
@ilirhushi can you check if this is still the case?

[2017-11-15 17:02] kominoshja opened #32 "Ability to disable registration"
### Expected Results
If a company (for example) is hosting Identihub, they might not want people to be able to register, but allow admins to create accounts so the users are staff only

### Actual Results
Anyone can register on any instance of Identihub

[2017-11-15 20:46] ilirhushi commented on #2
they are all removed

[2017-11-15 21:39] elioqoshi commented on #2
Thank you

[2017-11-15 21:39] #2 closed

[2017-11-15 21:41] elioqoshi commented on #32
@Borisbudini excellent point! adding this to v.0.3
Let's revisit it in January as I think it's not a priority.

[2017-11-16 17:59] tstreamDOTh commented on #26
@elioqoshi I am getting an error which says "Whoops, looks like something went wrong.". Do we need to setup environment variables or something? Could you add a little help in the documentation.

[2017-11-16 18:22] elioqoshi commented on #26
@tstreamDOTh I think that's a generic Laravel error. Have you checked the authentication key? We are working on some documentation to have it ready on Monday.

@ilirhushi our dev might be able to assist maybe?

[2017-11-16 18:26] elioqoshi commented on #26
I suppose you used Homestead as written in the readme?

[2017-11-16 22:13] ilirhushi commented on #26
@tstreamDOTh could you provide more details of you scenario?

[2017-11-17 23:15] Borisbudini opened #33 "User privileges"
This is an issue expanded upon https://github.com/uracreative/identihub/issues/32
In the scenario of an organization hosting Identihub, there can be multiple users. It might be a good idea to have roles or privileges such as 'Admin' and 'Designer'. These two are a bare minimum but there can be more.

[2017-11-17 23:28] Borisbudini opened #34 "Teams"
In big organizations, most of the time there are teams with different focuses operating within the organization. One example for this would be Mozilla.
Mozilla has many teams but let's take 3 for example: Reps, SysOps and Communities.
All these teams have different projects.
If Mozilla would store all their assets within Identihub, things would be hard to find. Identihub Teams would fix this by se

[2017-11-18 12:39] elioqoshi commented on #34
Thanks @borisbudini

Yeah this was discussed as part of the whole user management discussion to basically replicate the GitHub model but for Identihub.

So basically users can create a profile, can have their personal projects but can also put them into organizations. On organizations (which you call team) you can have many projects and each project can have Owners, Editors and Members with differ

[2017-11-18 13:00] Borisbudini opened #35 "Identihub break by Organization Name"
When you set up Identihub, it asks you about 'Organization Name'

### Expected Results
It should proceed to the next steps without a problem

### Actual Results
You get a HTTP 500 error
If you run 'composer update' it says 'please enter " (parenthesis) in values with space in them'

### Fix
Can Identihub automatically put parenthesis in Organization Name?

[2017-11-18 13:03] Borisbudini opened #36 "Lorem Ipsum in installation process"
### Expected Results
Identihub should say a welcome message

### Actual Results
You can see Lorem Ipsum paragraph
https://imgur.com/a/ctyCr
The same happens when Identihub suggests to install Imagick

[2017-11-18 16:23] elioqoshi commented on #36
@ilirhushi can you fix this with something a bit more meaningful?

[2017-11-18 22:57] Borisbudini opened #37 "Translating Identihub"
We need to start thinking about l10n now so we won't have to do major code changes. Before thinking about what software to use to help us achieve this, it is first needed to know how localization for Identihub works (what format are the strings used in?) Any help on this?

[2017-11-19 07:31] elioqoshi commented on #37
@AnXh3L0 can you give us a short overview on this? l10n should be available only for the User Interface, not translating the section names and descriptions (that should be translated by the project creator if they want obviously)

We would ideally have a XML with all strings which we could put into a platform like Transifex and link it directly to GitHub to update it.

[2017-11-19 09:30] ilirhushi commented on #3
I think this problem doesn't exists anymore

[2017-11-19 09:33] ilirhushi commented on #18
@elioqoshi I think even this one doesn't exists anymore

[2017-11-19 09:53] ilirhushi commented on #26
@elioqoshi I fixed this, I will update the server soon.

[2017-11-19 10:35] elioqoshi commented on #26
@ilirhushi thanks. Let me know if it works so we can close this

[2017-11-19 10:40] elioqoshi commented on #18
@ilirhushi you mean you fixed it?

[2017-11-19 10:41] elioqoshi commented on #3
Thanks @ilirhushi

[2017-11-19 10:41] #3 closed

[2017-11-19 10:44] ilirhushi commented on #18
@elioqoshi I tried to reproduce it but it seemed ok

[2017-11-19 10:54] ilirhushi commented on #26
@elioqoshi check now, because I updated the demo server

[2017-11-19 11:35] elioqoshi commented on #26
The Images category still appears here although it's empty:
https://demo.identihub.co/project/mozillareps

[2017-11-19 11:37] elioqoshi commented on #18
@ilirhushi indeed. Thanks, closing thing

[2017-11-19 11:37] #18 closed

[2017-11-19 11:38] elioqoshi commented on #37
I suggest we should push this back once we have a stable version as l10n things will change less at that point

[2017-11-20 00:11] rskikuli opened #38 "Fonts page: text not showing correctly"
### Expected Results
Fonts page shown correctly without bugs.

### Actual Results
In the 'fonts' page the long links are shown in a not correct way and also 'font family' info texts are not aligned. Here is how it is shown: https://imgur.com/a/HJirf

### Browser and Screen Resolution
Firefox 57.0 for Ubuntu 64 bit.

### Steps to Reproduce
Visit the fonts page with the browser mentioned above.

###

[2017-11-20 12:53] elioqoshi commented on #38
@rskikuli this will be part of the redesign and has some other dependencies (like public SVG conversion). So this is a very specific little thing in a bigger update which will be done

[2017-11-20 14:41] ilirhushi commented on #6
@elioqoshi the changes have been pushed to the demo server

[2017-11-20 21:32] ilirhushi commented on #36
@elioqoshi It would be better if you provide a text that suits your policies and I can change it

[2017-11-20 22:47] elioqoshi commented on #36
@rskikuli can you provide something?

[2017-11-21 11:20] Borisbudini commented on #36
@ilirhushi here's the text:
Welcome to Identihub, the open source software developed by Ura to help you host your brand.

[2017-11-28 12:42] #6 closed

[2017-11-28 18:04] Borisbudini opened #39 "Test"
### Expected Results

### Actual Results

### Browser and Screen Resolution

### Steps to Reproduce

### Comments

[2017-11-28 18:36] #39 closed

[2017-11-29 11:36] Borisbudini opened #40 "Last webhook test"
### Expected Results

### Actual Results

### Browser and Screen Resolution

### Steps to Reproduce

### Comments

[2017-11-29 11:37] #40 closed

[2017-12-06 15:14] elioqoshi opened #41 "add optional description under project categories"
Similar to the editable descriptions of sections under categories (Icons, Fonts, Colors, Images) we should add also descriptions editable by the admin to explain the category. This could look like this:

![image](https://user-images.githubusercontent.com/5436686/33668569-6ca973bc-daa0-11e7-966d-3be65207e1bb.png)

[2017-12-06 15:15] elioqoshi commented on #35
@Borisbudini we can't reproduce this. Can you please provide more detailed info what you did?

[2017-12-06 20:58] Borisbudini commented on #35
Last time I arrived at the same conclusion multiple times. I've tried organizations such as "Ura Desing" "Open Source "Third test" "fix this" etc. I'll try to reproduce it with the new version.

[2017-12-15 15:37] marianaballa opened #45 "Confirmation email ended up in spam folder"
I created a new account on Identihub and the email with the activation link ended up on the spam section.

[2017-12-15 17:06] Borisbudini commented on #45
@marianaballa thanks for bringing it up. I'll investigate today.

[2017-12-15 19:09] Borisbudini commented on #45
This is happening because we just switched to a new mail server so it takes a while for Google to pick that up

[2017-12-15 19:46] Borisbudini commented on #35
I retried this and it still happens.

[2017-12-16 17:47] elioqoshi commented on #35
That's not very helpful if you don't provide details. Does this happen on the demo instance? Local instance? Dev instance? Everywhere? We cannot work on fixes if we don't have details

[2017-12-20 19:14] Borisbudini opened #47 "Imagick text"
### Expected Results
In the last installation step, Identihub says you should install imagick

### Actual Results
You get a Lorem Ipsum text with the text imagick highlighted in red.

### Steps to Reproduce
1. Install Identihub
2. Go to the last step of the setup
### Comments
Similar to https://github.com/uracreative/identihub/issues/36

[2017-12-20 19:15] Borisbudini commented on #47
Not having imagick will make it impossible to upload images

[2018-01-02 17:03] Borisbudini commented on #35
This issue happens everywhere if using the latest version. If you add parentheses on Organization_Name in .env file, then it works. Identihub should put parenthesis on Organization_Name in .env file by default. This way this issue doesn't happen

[2018-01-09 16:00] Borisbudini commented on #45
Closing this issue. The problem was that the URL of identihub and URL of email we're not matching

[2018-01-09 16:00] #45 closed

[2018-01-10 12:14] jancborchardt opened #50 "make it clear that Project URL's can be changed"
I created a project called »Open Source Design« and the url I got was: `https://demo.identihub.co/project/open-source-design` – however I’d prefer it without spaces/dashes in the url.

For projects, often the short handle is different than the actual name, especially for long names. You prefer the URL to be your Twitter handle, say. Currently you have to start 2 projects and decide which one you u

[2018-01-10 12:17] elioqoshi commented on #50
@jancborchardt you can actually change the URL as an admin. Have you tried it?

[2018-01-10 12:18] jancborchardt opened #51 "Section for guidelines in »Text« or »Writing«"
For a styleguide it’s also important to have a section on how to use the name in writing. For example for Nextcloud we want to make sure people don’t write it »NextCloud«, and for »Open Source Design« we want to make sure people don’t write »OpenSourceDesign« or »OSD«.

So a section »Text« or »Writing« would be a very useful addition.

[2018-01-10 12:19] jancborchardt opened #52 "Section for what not to do: »Common mistakes«"
Styleguides often have a section on »Mistakes« or »Common mistakes« or »What not to do«. There some simple image examples of wrong contrast, wrong size relations, wrong colors etc are shown. Always with an X over it or besides it so it’s clear it’s not for use.

[2018-01-10 12:27] jancborchardt opened #53 "Developer guidelines: Branch from master or develop?"
In the projects I usually contribute to we use Github flow: https://guides.github.com/introduction/flow/

It’s the simplest branch model you get: You have the master branch, and all features/fixes are branched off from master, then in discussion as pull requests, and then merged into master.

Here you have a master and develop branch, both with diverging histories, develop having more commits but

[2018-01-10 12:34] jancborchardt commented on #50
Ok, now I did. Gotta say it’s not very obvious, especially as the first part of the link `https://demo.identihub.co/project/` showed a cursor: pointer.

Might be better by:
- Showing a `cursor: text;` on the first part of the link too, and instead of a span, have it be the proper `<label>` for the vanity url, so that when you click it the cursor will be set into the url field.
- Showing a text inp

[2018-01-10 13:08] jancborchardt opened #57 "»Welcome to Identihub« page is unnecessary when logged in"
When logged in, the projects page should directly be displayed. This page –
![screenshot from 2018-01-10 14-06-20](https://user-images.githubusercontent.com/925062/34774427-92a6f582-f60f-11e7-9813-cae8e1ab28ab.png)
– is not really necessary and you need to find out you need to click your own name. :)

Getting rid of that and only having the projects page for logged in users is the simple solution.

[2018-01-10 13:09] jancborchardt opened #58 "Correct wording for »Icons« would be »Logos«"
Icons are only a part of the logo, the visual mark. »Logos« are a better term since they include the wordmark.

[2018-01-10 13:21] jancborchardt opened #59 "Transparency in logos needs to be properly displayed"
The second logo here is white with transparency:
![screenshot from 2018-01-10 14-14-17](https://user-images.githubusercontent.com/925062/34774823-345199b8-f611-11e7-9870-43167410bceb.png)
Same issue in the detail view where it’s not visible.

You can see how Mediawiki does it here:
https://en.wikipedia.org/wiki/Nextcloud#/media/File:Nextcloud_Logo.svg

So this code is a good start (of course with

[2018-01-10 13:25] jancborchardt opened #60 "Handling of long titles"
Currently long titles simply overflow:
![screenshot from 2018-01-10 14-24-27](https://user-images.githubusercontent.com/925062/34775040-0c9385d4-f612-11e7-9bfc-123ceb63d27c.png)

At least some text-overflow: ellipsis; would be nice here. :)

[2018-01-10 14:23] elioqoshi commented on #57
Thanks @jancborchardt

Yeah we are aiming to change this in the next release. Even when logged out, the page should have the login screen and when logged in, the Projects overview.

@budaaaa adding this to the milestones

[2018-01-10 14:24] Xaviju commented on #58
Sorry, I might not be understanding this suggestion. In that section I was expecting to add a list of image symbols (like the font-awesome symbols). Using the word `logos` would not be counter-intuitive?

[2018-01-10 14:27] elioqoshi commented on #26
@chrispecoraro @budaaaa assigning these to you

[2018-01-10 14:33] Xaviju opened #61 "Accepted asset formats contextual help"
### Expected Results
The user knows which formats can be uploaded to each section and if they don't respect the guidelines receive an error message explaining what was the error

### Actual Results
I'm not sure which assets are accepted in each section. I tried to upload `.svg` files and `.png` files to `icons` section but it did not work and received no help

### Browser and Screen Resolution
Fir

[2018-01-10 15:09] elioqoshi commented on #61
@Xaviju Thanks for the report! Indeed, only SVG are accepted in Icons and JPGs and PNGs in Images.

Did you try it on demo.identihub.co ? SVG's should work, apart in some cases. Can you try maybe some other SVG's?

@budaaaa @chrispecoraro let's keep this in mind to specify the file formats accepted in the upload window.

[2018-01-10 15:15] elioqoshi commented on #60
Thanks @jancborchardt we are aware of this issue. We hope to fix this this month. We are currently doing a complete refactoring of the code to make contributions easier so this will be part of it (or right after it) as well

[2018-01-10 15:19] elioqoshi commented on #59
@jancborchardt in fact we are planning to add a background color to every asset box if the admin chooses to. So you could make the box black if your logo is white. This will be only for preview purposes but won't affect the actual file (PNG or SVG). I think that's a more elegant way, what do you think?

@budaaaa @chrispecoraro putting this to v.0.3 for end of February, does that work?

[2018-01-10 15:21] Xaviju commented on #61
Yes I tried there. Nothing happened when tried to upload images (SVG, PNG).
I'm getting this error in the JS console that might help you reproduce or debug
[code]

[2018-01-10 15:24] elioqoshi commented on #58
Indeed. We don't want to limit users. This will in fact be editable by admins so you can have them named as Logos, Icons, or whatever you want. You could also add more section of this type (SVG) and have them named differently. So you can have icon sets and logos in one page for example. This is part of a bigger revamp.
We hope to get this functionality out in February or March. Let's put this on

[2018-01-10 15:25] elioqoshi commented on #58
@chrispecoraro implemented an early version of this in fact. @chrispecoraro when do you think is a good date to have this by?

[2018-01-10 15:27] elioqoshi commented on #61
hmmm that's weird. @budaaaa @chrispecoraro do you have any idea what might be going on here?

[2018-01-10 15:47] elioqoshi commented on #53
Thanks for addressing this @jancborchardt
For quite some time we have been without any developer (last 2 months) but now @chrispecoraro and @budaaaa are onboard so preferably I'd have their input on this as well.

Guys, can we clean up the branches and follow a similar flow?

[2018-01-10 15:51] elioqoshi commented on #52
Good point. Identihub was not designed to offer these yet, but we could add this in the future. I suppose within the image type category so you can upload these as raster images but disable download features for them.. This will take some time to develop however so I don't expect this to happen before May

[2018-01-10 15:56] elioqoshi commented on #51
Indeed, this is planned for a later version. Together with a tone of voice or condensed mission statement/description of the project. It should be rather easy to do though. Anyone who wants to contribute a patch, we would be happy to add it, otherwise, adding this to the milestone in June.

[2018-01-10 15:59] elioqoshi commented on #35
Let's keep an eye on this after refactoring is done and see if that still happens.

[2018-01-10 16:02] elioqoshi commented on #50
That's true on the other hand. Adding this to the milestones to be fixed soon.

[2018-01-10 17:09] elioqoshi commented on #31
@budaaaa @chrispecoraro scheduling this for end of March for now

[2018-01-10 17:10] elioqoshi commented on #47
We should probably fix this in the installer @chrispecoraro @budaaaa

[2018-01-10 17:10] elioqoshi commented on #30
@chrispecoraro can we update this?

[2018-01-10 17:12] elioqoshi commented on #34
This will be a major update and will need more time so pushing this to May (which is quite optimistic)

[2018-01-10 17:33] elioqoshi commented on #17
pushing this further down the road

[2018-01-10 17:38] elioqoshi commented on #36
@budaaaa Can we add this as a quick fox as well?

"Welcome to Identihub, your personal space for hosting your brand and visual assets. Save some time by adding a project and easily share it with others."

[2018-01-10 17:45] elioqoshi commented on #27
we pushed 0.3 to end of February

[2018-01-10 17:46] budaaaa commented on #27
Need design to implement this

[2018-01-10 17:56] elioqoshi commented on #27
@budaaaa sure. @AnXh3L0 and me will do it. Will let you know when ready. This is kinda low priority

[2018-01-10 20:10] budaaaa commented on #27
React part of error 404 DONE!

[2018-01-11 14:12] jancborchardt commented on #59
Hmm, having to choose specifically seems like an ok addition. However the default should still work well, as many people won't bother to change it and it seems broken like this.

[2018-01-11 14:18] jancborchardt commented on #51
It's not, that's why I wrote _don't_ above. ;)

[2018-01-11 15:57] elioqoshi commented on #51
Ah I misread it. Yeah makes sense now

[2018-01-11 16:01] elioqoshi commented on #58
I disagree with that notion. Best would be to call the section default SVG or Vectors and then anyone can customize them how they would like.

We won't add 2 sections of the same type just to have them called Logos and Icons separately. The user can and should do that themselves. We can however call them an umbrella term which would be Raster Images / Vector Images eventually. As you see, it's a v

[2018-01-11 16:07] elioqoshi commented on #59
We might be able to add a function that analyzes the SVG and makes the background darker automatically if it detects #FFF for example.

How would you set the default then? Transparency grid behind the asset? That makes sense for PNG's but not for vectors. I'd not be in favor of having that on default.
The pages are created mostly by designers and is mostly a one time thing to set up (maintenance i

[2018-01-11 16:59] Borisbudini commented on #53
Let  me know when we change the branch so i can update our dev server to use that branch instead.

[2018-01-12 14:47] jancborchardt commented on #58
Raster vs vector images, or focusing on filetypes, is not really how most styleguides seem to be sorted though. The logo is arguably the most important part of a project (or most used by others when linking etc) and supplemental icons are less prevalent.

Naming the category "Vectors" or "SVG" seems to call unnecessary attention to the technical underpinnings.

But just input, you decide. :)

[2018-01-12 14:53] jancborchardt commented on #59
Sure - that sounds like a lot of work though and might be unreliable, especially with mixed assets. Maybe there's a library out there though?

Yep. It might be a dumb default but it works in lots of scenarios. It's a common approach too for dealing with transparency / alpha channel.
Why does it make sense for png but not for vectors? Makes sense for any image with transparency, be it just to point

[2018-01-12 18:48] elioqoshi commented on #59
Because vectors have no transparency, while PNG's have an Alpha channel which determines that kind of texture. I share the opinion that it's confusing for vectors.

In the end of the day, this will be addressed. A quick fix we want to deploy in the next version is that the default background of assets will be very light gray (while the website background will be pure white) so white logos can stil

[2018-01-14 01:39] budaaaa opened #62 "Expected response code 250 but got code "550", with message "550 Unauthenticated senders not allowed"
After registering a new user, and when trying to make him log in, the application breaks and shows this error

[2018-01-14 01:47] budaaaa commented on #60
Issue fixed today, closing this.

[2018-01-14 01:47] #60 closed

[2018-01-15 22:09] elioqoshi commented on #16
This is the main big feature which has most priority. It would be great if we can finish this in the next 2 weeks.

[2018-01-15 22:11] elioqoshi commented on #41
Talked with @budaaaa and thought this might be overkill and too much clutter. Let's not do this for now and eventually get back to it if the situation changes

[2018-01-15 22:11] #41 closed

[2018-01-15 22:24] elioqoshi commented on #53
@budaaaa can you explain the logic here again?

[2018-01-15 23:34] budaaaa commented on #53
The core developers only push stable versions into the master, we can use a CI pipeline to manage automatic deployment w/o having to do it manually.
When we want to release a stable version, we create a git tag (e.g. v0.2 for the upcoming version) and publish the link in the Readme so others can install/upgrade from that link.

The Core developers will be normally working in the dev branch.
When a

[2018-01-15 23:34] #53 closed

[2018-01-16 21:15] budaaaa opened #63 "Multiple file upload"
Images and icons should be multiple upload.

[2018-01-16 21:19] aziflaj commented on #62
There is no issue regarding to this. During the installation, after copying `.env.example` to `.env`, make sure to update `MAIL_USERNAME` and `MAIL_PASSWORD` to the necessary values, e.g. your Gmail's email and password, or the credentials given by a 3rd party such as SendGrid

[2018-01-16 21:19] #62 closed

[2018-01-16 23:56] #63 closed

[2018-01-17 21:12] elioqoshi opened #64 "increase raster images maximum size"
Currently, uploading raster images (JPG or PNG) is only possible if the image is 1mb big or smaller. We should increase this limit to allow uploading of bigger images. Maybe 5mb for now?

[2018-01-17 21:52] elioqoshi commented on #50
@budaaaa please don't close the issues unless we all agree that this has been addressed. At the very least, offer some context.

[2018-01-18 21:56] budaaaa commented on #50
This issue was taken care of yesterday, now all the text field areas that can be changed by the admin have a hover effect colour to indicate that they are changeable

[2018-01-20 00:34] elioqoshi commented on #25
@AnXh3L0 @rskikuli Please a template here

[2018-01-20 12:50] elioqoshi commented on #64
@Borisbudini did you update this on demo and the dev server?

[2018-01-22 11:12] jancborchardt commented on #59
They do though ;) the logo in question above is a SVG/vector with transparent background.

Ok, seems to be good as a quick fix. Of course it will be the same issue for greyish-logos but your call.

[2018-01-22 11:15] jancborchardt commented on #53
It's a bit strange that "core devs" will work based off dev branch while other contributors should branch off master.

I'd recommend being a bit less strict here to not turn away contributors. :) Pull requests without tests could be helped to write tests for example.

[2018-01-22 11:15] jancborchardt commented on #53
And of course it's important that all this info is in the readme and not only here. :)

[2018-01-22 14:25] elioqoshi commented on #59
You mean opacity? Not sure what you call transparency. I don't define it as the lack of a vector shape in a certain canvas.

Use cases with a very light gray logo are less often than with a pure white one I'd say, so that should improve it. Also, later on it should be possible to change the background color of assets in Identihub so that will be addressed. It's just the default behaviour for now I

[2018-01-22 14:51] elioqoshi commented on #53
I generally agree. We would be happy to mentor fellow developers for their first PR. However right now, it's kind of hard to do that, since we are very few and actual features are taking priority until the Beta or Stable version is out. Of course if we do that in our free time sure, but I think that workload should be evenly distributed. It's more of a "we have no head space to do this as well" ra

[2018-01-22 15:57] Borisbudini commented on #64
@elioqoshi The dev has ben updated. As for the demo we would need to push the new code but we only push stable in there so we have to wait

[2018-01-22 16:06] Borisbudini commented on #64
Right now on Dev you can upload a total of 25 MB (5files x 5MB) for the new code.
On the Demo it is 5MB (1file x 5MB) since it only runs stable code.

[2018-01-22 16:06] #64 closed

[2018-01-23 12:09] rskikuli opened #66 "Add the ability to choose a license for the images"
### Expected Results
User has the ability to choose between full copyright or a Creative Commons license for the images (not logos) published.

### Actual Results
User can not choose a license.

### Browser and Screen Resolution
N/A

### Steps to Reproduce
N/A

### Comments

[2018-01-23 16:32] elioqoshi commented on #66
assigning 0.4 for this for now.

[2018-01-23 16:34] elioqoshi commented on #59
@jancborchardt you can find a first implementation of this here:
https://dev.identihub.co/project/firefox

[2018-01-24 10:57] HeikoTietze opened #68 "Missing login/registration on landing page"
On https://identihub.co/ I get a showroom and the option to join but not to add my project to the list. That is currently only possible at https://demo.identihub.co/.

[2018-01-24 11:09] elioqoshi commented on #68
Registering directly from the landing page shouldn't be possible, but accessing the Demo is in fact. We can add a "TRY DEMO" on the navbar though. Assigning to @AnXh3L0

[2018-01-24 11:18] elioqoshi commented on #68
Fixed, closing this

[2018-01-24 11:18] #68 closed

[2018-01-24 14:54] bnvk opened #69 "Non-activated new account shows PHP error page"
### Expected Results

Ideally a user should see an HTML page that communicates they need to click activation link.

### Actual Results

See an HTML page full of PHP errors (see below).

### Steps to Reproduce

1. Create new account
2. Try to login

### Stacktrace

[code]

[2018-01-24 14:56] elioqoshi commented on #69
@bnvk Thanks for reporting this Brennan. This has been handled indeed not ideal. Adding this to the next milestone to address it.

[2018-01-24 15:01] elioqoshi commented on #69
This is related to following issues as well:
https://github.com/uracreative/identihub/issues/27
https://github.com/uracreative/identihub/issues/25

[2018-01-24 15:08] bnvk opened #70 "Visiting URLs with bad activation links show PHP errors"
### Expected Results

Ideally a user should see an HTML page that communicates the activation link they clicked is no longer valid.

It SHOULD also offer to send a new link if the account is not yet activated.

### Actual Results

User sees an HTML page full of PHP errors (see below).

### Steps to Reproduce

1. Create a new account
2. Activate account
3. Revisit activation link (in email)

### St

[2018-01-24 15:14] bnvk commented on #25
I humbly suggest you do not do fancy HTML emails and instead. Simple plain text emails are totally sufficient for an activation link. However, you should add a couple more sentences to the current one.

[2018-01-24 15:34] elioqoshi commented on #25
Totally agree with that. It's more of a copy thing than visual design.

[2018-01-24 15:36] elioqoshi commented on #70
Thanks Brennan!
I think we can and squeeze this into 0.2 @budaaaa @aziflaj, what do you think?

[2018-01-24 15:36] elioqoshi commented on #69
Also this, thanks for opening it:
https://github.com/uracreative/identihub/issues/70

[2018-01-24 15:50] elioqoshi commented on #27
Came up with this, what do you think?

![image](https://user-images.githubusercontent.com/5436686/35341721-a25430cc-0126-11e8-9cf1-d9d8e1941aa4.png)

[2018-01-24 15:51] rskikuli commented on #27
Looking good.

[2018-01-24 15:53] elioqoshi commented on #27
@budaaaa can we implement this? I suppose SVG should be okay for the icons.

[2018-01-24 15:54] bnvk opened #71 "Using the "forgot password" page throws PHP errors"
### Expected Results

See a nice HTML page that informs user an email has been sent to reset their password and receive an email with a password reset link.

### Actual Results

See a page with PHP errors on it but did receive email with reset link.

### Steps to Reproduce

1. User goes to the [forgot password](https://demo.identihub.co/password/reset) page
2. Enter email address
3. See error page

[2018-01-24 15:56] elioqoshi commented on #71
Similar issue also here folks @budaaaa @aziflaj

[2018-01-24 15:57] rskikuli commented on #27
Looking good.

[2018-01-24 16:00] bnvk opened #72 "Passwords should allow special characters and spaces"
### Expected Results

Be able to create an account with the password like:

[code]

### Actual Results

On attempting to log in, see error page like issue #69

### Steps to Reproduce

1. Create an account with the above password
2. Try to login (before and after clicking on activate link)

### Comments

This might also be the root cause of #71 but I am not 100% unsure as I did not test this enough

[2018-01-24 16:03] elioqoshi commented on #72
This is weird. Definitely shouldn't happen. Assigning to @aziflaj

You mean that you were able to change your password to one with special characters and spaces?

[2018-01-24 18:48] budaaaa commented on #27
Nice!

[2018-01-24 20:33] bnvk commented on #72
Sorry, I was unclear. No I did not try changing my password back (after successfully logging in). The password example above is the one that would not let me log in to the site.

[2018-01-24 21:20] aziflaj commented on #71
@bnvk I'm having trouble duplicating this locally. I clicked on the "Forgot Password" link, typed my own email address, an email was sent with a "Reset Password" button, which when clicked redirected me to the correct view.

@Borisbudini could you check if the `MAIL_*` entries on the `.env` are properly set?

[2018-01-24 21:50] elioqoshi commented on #72
Thanks.

@aziflaj can you reproduce locally? This is probably not a server configuration error.

[2018-01-25 10:08] bnvk commented on #72
My hunch is it is the top dash character

[code]

That is not being properly escape or handled, but that is just a hunch.

[2018-01-25 10:20] HeikoTietze opened #73 "Crash on login"
Registered with a new address and try to login afterwards. That leads to this crash:

Whoops, looks like something went wrong.
1/1 ErrorException in CurlFactory.php line 67: count(): Parameter must be an array or an object that implements Countable

    in CurlFactory.php line 67
    at HandleExceptions->handleError(2, 'count(): Parameter must be an array or an object that implements Countable', '

[2018-01-25 10:40] HeikoTietze commented on #73
Works after clicking the confirmation message (which needs some love).

[2018-01-25 10:46] bnvk opened #74 "Add support for consuming "repos" to import as "projects" in Identihub"
As per in person discussions with @elioqoshi last year, I am opening this issue as an idea / feature request for the Identihub team to consider.

## Desired Result

As an open source designer and developer, I am in the habit of collecting work I do on personal and client projects in a git repo:

- [BNVK - Designs](https://github.com/bnvk/Designs)

I also make independent repos per specific project

[2018-01-26 10:04] elioqoshi commented on #73
This is the same issue as here:
https://github.com/uracreative/identihub/issues/69

Email confirmation issue here:
https://github.com/uracreative/identihub/issues/25

Closing this as duplicate. Thanks for adding your voice here, we are working on fixing these.

[2018-01-26 10:04] #73 closed

[2018-01-28 14:27] elioqoshi commented on #14
@budaaaa is working on this. Assigning to 0.3 for now.

[2018-01-28 14:29] elioqoshi commented on #58
@budaaaa @aziflaj until we have the customizable options ready, can we change Icons back to Logos? That would indeed make more sense for now until we implement the features fully.

[2018-01-28 14:33] elioqoshi commented on #59
So the upcoming mockup of this:
![image](https://user-images.githubusercontent.com/5436686/35483276-69b401f8-0440-11e8-9f7b-1cc7f36a1566.png)

Admins will be able to change the color to dark or light or a custom hex code for every SVG asset
We hope to have this ready in February.

[2018-01-28 14:34] elioqoshi commented on #59
@jancborchardt your feedback is welcome :)

[2018-01-28 14:58] elioqoshi opened #75 "Redesign Asset Sidebar"
The Sidebar is being redesigned to improve Usability and offer additional features.

New features:
- Featured Thumbnail Selector
- Delete Resolution (Admin)
- Custom Asset Background Color Selector
- Ability to manually select URL of embed codes
- Sidebar can be retracted to have a fullscreen view of the asset

Adding details later on here.
Current draft mockups of the SVG asset sidebar

![svg sid

[2018-01-28 15:35] elioqoshi commented on #75
Proposed Mobile views

![svg sidebar - open mobile](https://user-images.githubusercontent.com/5436686/35483980-2b535f40-0449-11e8-95ac-5f32c95e4c52.png)
![svg sidebar - retracted mobile-1](https://user-images.githubusercontent.com/5436686/35483981-2b7785b4-0449-11e8-8659-e17a1e359707.png)

[2018-01-28 16:05] elioqoshi opened #76 "Import Inkscape Color Swatches"
Right now adding new color swatches is possible only by manually adding them one by one.

It would be great if it would be possible to import (and later export, but that's another story) Inkscape color swatches, so colors would be added in bulk instead.

The syntax of Inkscape swatches are relatively simple. Check out the Open Color ones:
https://yeun.github.io/open-color/asset/download/open-color

[2018-01-28 20:57] elioqoshi commented on #58
@jancborchardt what would you think of calling that section Identity or Brand?
Would be a bit more inclusive and lean towards logo without exclusing other stuff as well.

A bit biased towards Identity for obvious reasons :)

[2018-01-29 22:46] elioqoshi opened #77 "upscaling SVG to PNG with a higher resolution results in loss of quality"
Currently, Identihub treats SVG's with a specified DPI based on its canvas size. So if a SVG is 400px, and one wants to upscale it to 1600px (normal thing to do, as it's vector) it would result in quality loss, as imagemagick seems to not handle the SVG as vector, but as a PNG with given resolution and a low DPI.

This should not happen and a SVG should be able to be upscaled to any reasonable PNG

[2018-01-29 22:48] elioqoshi commented on #77
Eventually related to this:
https://stackoverflow.com/questions/9853325/how-to-convert-a-svg-to-a-png-with-image-magick

[2018-01-30 12:13] tigert opened #78 "spaces in organization names are not handled correctly in the .env file"
### Expected Results

During the web based Setup I set my organization to "Tigert Labs".

### Actual Results

This appears to break the .env config file format, which seems to expect the values with spaces to be in quotes.

### Browser and Screen Resolution

irrelevant

### Steps to Reproduce

Install new instance, in the web based setup tool set your organization to a name with a space.

### Comm

[2018-01-30 17:45] jancborchardt commented on #53
Well, I did contribute. :) And these are the issues I ran into.

Really the only thing you need to add to the readme is something like this:

[code]

I simply went ahead and opened a pull request: https://github.com/uracreative/identihub/pull/79

[2018-01-30 17:52] jancborchardt commented on #59
No, opacity is the opposite of transparency. :) Transparency absolutely is the lack of a shape on a canvas (unless it has a white background). Same as "alpha channel".

Sure. However then you enter a gamble of possibility. :) Especially for a tool focused for designers, the default is a very important impression. And even if the background color is adjustable, the initial impression will still be

[2018-01-30 17:52] jancborchardt commented on #58
As talked on IRC also, »Brand«, »Branding« or »Identity« (also Corporate Identity / CI, Corporate Design / CD, etc.) refer to the whole thing on that page. I still think »Logos« is the perfect naming for the first section, at least that is exactly what all of the projects showcased on the frontpage use that section for.

[2018-01-30 23:21] elioqoshi commented on #78
Thanks @tigert for your contribution! We were not aware of this issue. We are looking right into it and make sure to get this fixed in the next release.

[2018-01-30 23:23] elioqoshi commented on #58
Some other people were confused as well so we should go ahead with this. We will see to fix this in a better way later, but for now changing it to Logos should be a good first step

Fun fact: It used to be Logos and we changed it to Icons. So this is basically reverting it back :D

[2018-01-30 23:31] elioqoshi commented on #59
I don't want to start a designer geek debate here but a lack of background information is not transparency in SVG. ( https://graphicdesign.stackexchange.com/questions/79312/saving-svg-with-transparent-background-in-inkscape )
I'd define transparency as the existence of information, which is however invisible. That's how the Alpha channel would work. SVG simply has no information regarding that. I

[2018-01-30 23:33] elioqoshi commented on #53
Thanks @jancborchardt ! I agree that documentation isn't really great right now and we are working on improving that next month.

[2018-01-31 23:13] Borisbudini commented on #78
Hey @tigert, thanks for the issue
@elioqoshi there's a duplicate over here (https://github.com/uracreative/identihub/issues/35)

[2018-01-31 23:14] Borisbudini commented on #35
Closing this since we moved this issue over to (https://github.com/uracreative/identihub/issues/78)

[2018-01-31 23:14] #35 closed

[2018-01-31 23:19] Borisbudini commented on #71
@aziflaj the settings in `.env` file are properly set, as i can receive the email. Maybe it has to do with `MAIL_DRIVER=sparkpost` ?

[2018-02-01 12:05] elioqoshi commented on #77
https://github.com/uracreative/identihub/blob/f37b63b476d64edceed5288bb38db07f2170e1de/app/Http/Controllers/Api/V1/SourceFileController.php

I think the Culprit is somewhere here

[2018-02-01 15:46] rskikuli commented on #25
We need to list the number of transactional emails we have at the moment. I understand that we have:

- registration process email;
- forgot password email;

Is there anything else? I'm doing some research and working on the copy here: https://pad.ura.design/p/identihub-transactional-email.

[2018-02-09 14:56] mray opened #82 "Link back to project homepage"
There should be a way to link back to the respective project homepage.
I can imagine the main title itself could be a link, or feature a small link like this:

![image](https://user-images.githubusercontent.com/164785/36033564-b35751f0-0db1-11e8-83ba-de2ea0511000.png)

[2018-02-09 15:09] elioqoshi commented on #82
@mray indeed good point, we will try to implement this in the next version, thanks for filing this!

[2018-02-16 16:01] kominoshja opened #87 "Travis status: failed"
If you check the header at dev branch, you will see that the build is failing while it actually works. This happens to a strange issue from Travis. I asked the team to fix it. You can check it out [here](https://github.com/travis-ci/travis-ci/issues/3996#issuecomment-366276078)

[2018-02-16 16:10] kominoshja commented on #87
Seems to be working now!

[2018-02-16 16:10] #87 closed, assigned to kominoshja

[2018-02-19 16:28] rskikuli opened #195 "Google Summer of Code 2019 Organization Application for Identihub"
This is related to #45 where is documented the first application we did for GSoC 2018.
Website: https://summerofcode.withgoogle.com/
Previous application material: (@elioqoshi did we save it somewhere the full application? I think if you can log in to your GSoC account you can retrieve it)

Deadline: Q4 2018.

[2018-02-19 16:47] kominoshja commented on #30
Update on the command for Identihub: `php artisan fonts:update >> /dev/null 2>&1`

[2018-02-19 17:06] ghost commented on #52
I miss this feature, too and it would be nice if it came with an option for every uploaded bitmap:

- [ ] do
- [ ] don't

So that you can upload good and bad examples while identihub takes care of showing them in a  consistent DO or DON'T style. (big red cross, big green check-mark)

[2018-02-20 18:55] elioqoshi commented on #52
Good point. I suppose we can add an option on every asset which can be a checkmark like you said.

[2018-02-22 13:35] brantje commented on #77
Try it with `\Imagick::setCompressionQuality ( int $quality )` or `\Imagick::setImageCompressionQuality().`

[2018-02-24 12:53] kominoshja opened #88 "Scrolling issues with fonts"
When you search for fonts and there are a lot of returns, you can not scroll down to see them all because the scroll works on the background and not in the fonts list
[example of many fonts](https://imgur.com/a/P5TZt)

[2018-02-24 14:53] elioqoshi commented on #88
I don't think this is too critical as you wouldn't search for Sans generally, rather than a specific font. However it should be fixed ideally. Minor bug though.

[2018-02-25 16:45] budaaaa commented on #88
Problem solved today. I added an overflow-y to the modal and a max height.

[2018-02-25 16:55] #88 closed, assigned to nobody

[2018-02-25 16:58] #50 closed

[2018-02-25 16:58] elioqoshi commented on #50
This is live.

[2018-02-25 17:00] elioqoshi commented on #38
This is fixed in the latest version with the new sidebar thanks to @budaaaa

[2018-02-25 17:00] #38 closed

[2018-02-25 17:03] elioqoshi commented on #71
Closing this as we cannot reproduce it. @bnvk if you still encounter a problem, feel free to reopen it.

[2018-02-25 17:04] elioqoshi commented on #78
Pushing this to the next release as we currently have no backend dev available to work on this.

[2018-02-25 17:05] elioqoshi commented on #75
This has been implemented by @budaaaa together with some optimizations.

[2018-02-25 17:05] #75 closed

[2018-02-25 19:59] elioqoshi commented on #61
@Xaviju can you retry in the latest version? This should work now

[2018-02-25 20:14] Xaviju opened #89 "Crash trying to reset my password"
### Expected Results
Trying to reset my password went into https://demo.identihub.co/password/reset and added my email. Expected a confirmation message

### Actual Results
500 error

### Browser and Screen Resolution
Firefox developer edition

### Steps to Reproduce
1. Go to https://demo.identihub.co/password/reset
2. Add an email into the input field. Submit.
3. Major crash!

### Comments
The out

[2018-02-25 20:16] Xaviju commented on #89
I did receive the reset password email btw

[2018-02-25 20:58] Xaviju commented on #61
Yeah, works fine although the error message was so small that I missed it a couple times.
This issue can be closed :)

[2018-02-25 20:58] #61 closed

[2018-02-25 21:59] elioqoshi commented on #89
Thanks for reporting this @Xaviju. We are on it

[2018-02-28 19:21] Akronix opened #92 "Error when trying to login without having confirmed the email."
I just registered an account on identihub and when I try to login, I get the following error:

![screenshot from 2018-02-28 20-16-04](https://user-images.githubusercontent.com/2631430/36808154-bbef50fc-1cc4-11e8-9dbb-b4bd339195f6.png)

### Expected Results
Login

### Actual Results
500 internal server error

### Browser and Screen Resolution
Chromium Version 64.0.3282.167 (Official Build) Built on

[2018-02-28 19:31] Akronix commented on #92
Ok, if I accept the confirmation mail I can login successfully.

Same in Firefox.

[2018-02-28 23:05] kominoshja commented on #92
@elioqoshi This issue seems to be appearing more. Any idea who we should ping?

[2018-02-28 23:49] kominoshja commented on #92
I have debugged this issue
It seems it happens because demo uses php7.2 and that creates issues with Laravel. To all of those that still have this issue, add
`if (version_compare(PHP_VERSION, '7.2.0', '>=')) {`
    `error_reporting(E_ALL ^ E_NOTICE ^ E_WARNING);`
`}`
 to
`vendor/guzzlehttp/guzzle/src/Handler/CurlFactory.php`
I will commit a PR soon

[2018-02-28 23:57] kominoshja commented on #92
Here's the underlying issue https://github.com/guzzle/guzzle/issues/1750

[2018-02-28 23:59] kominoshja commented on #92
Seems the issue is fixed with guzzlehttp 6.3. Reflecting that

[2018-03-01 00:00] elioqoshi commented on #92
Thanks @Akronix for filing this! We have been made aware of this issue and should be able to fix it soon, thanks @Borisbudini !

[2018-03-01 00:11] kominoshja commented on #92
Issue fixed. Closing.

[2018-03-01 00:11] #92 closed, assigned to nobody

[2018-03-01 00:11] kominoshja commented on #89
Issue fixed. Closing.

[2018-03-01 00:11] #89 closed, assigned to nobody

[2018-03-01 00:12] kominoshja commented on #71
Issue fixed. Closing.

[2018-03-01 00:12] #71 closed

[2018-03-01 00:12] kominoshja commented on #70
Issue fixed. Closing.

[2018-03-01 00:12] #70 closed

[2018-03-01 00:12] kominoshja commented on #69
Issue fixed. Closing.

[2018-03-01 00:12] #69 closed

[2018-03-01 00:18] elioqoshi commented on #92
@Akronix let us know if you encounter any other issue, your input is highly appreciated :)

[2018-03-03 15:57] kominoshja commented on #36
Issue fixed. Code is on dev. Closing issue.

[2018-03-03 15:57] #36 closed

[2018-03-03 15:58] kominoshja commented on #47
Hi, I'd like to work on this. Assigning myself too

[2018-03-03 15:59] kominoshja commented on #25
I'd like to work on this once the template is ready. Adding myself on the assignees

[2018-03-03 16:00] kominoshja commented on #27
Since this is implemented, can we close this issue?

[2018-03-03 16:02] kominoshja commented on #4
I want to take a look at this, adding myself on the assignees

[2018-03-03 22:12] budaaaa commented on #27
Closing this issue as it's completed

[2018-03-03 22:12] #27 closed

[2018-03-03 22:26] kominoshja commented on #47
Issue fixed.

[2018-03-03 22:26] #47 closed

[2018-03-04 15:38] h4ck3rm1k3 commented on #77
I have created a test case here https://gist.github.com/h4ck3rm1k3/643b1b735d8ca052170682d7bbaf6c22 and I am having problems executing on my debian box. Do you have any travis or build system i can use to test against?

[2018-03-04 15:43] h4ck3rm1k3 opened #96 "Need to check input sizes"
### Expected Results
If you input an icon size of height 109945 it will not crash the server

### Actual Results
If you input an icon size of height 109945 it will  crash the server

`api/v1/bridges/104/icons/329/converted Failed to load resource: net::ERR_EMPTY_RESPONSE`

### Browser and Screen Resolution
does not matter

### Steps to Reproduce
[code]
### Comments

[2018-03-04 18:53] kominoshja commented on #57
Is this fixed? Doesn't seem to appear on Dev

[2018-03-04 18:53] kominoshja commented on #78
Here's the file responsible for the issue[
identihub/app/Http/Controllers/Installation/InstallationController.php](https://github.com/uracreative/identihub/blob/dev/app/Http/Controllers/Installation/InstallationController.php)

[2018-03-04 20:00] kominoshja commented on #72
@bnvk I can't reproduce this. Can you try again?
I think it was never a problem to begin with but the cause of https://github.com/uracreative/identihub/issues/69 may have made it seem like it is.

[2018-03-04 20:05] kominoshja commented on #30
This should be moved to documentation. Ping @borisbudini

[2018-03-06 13:57] elioqoshi commented on #30
First for me when I see someone pinging themselves

[2018-03-06 14:14] elioqoshi commented on #78
@Borisbudini any clue on what needs to be changed?

[2018-03-06 14:15] elioqoshi commented on #57
There was a PR from @IgliGrykshi but it was not complete so not yet.

Currently, dev.identihub.co (the main page) is empty and doesn't show anything when logged in (it should show "my projects" or redirect to "my projects". When logged out, dev.identihub.co shows login right however.

[2018-03-06 15:02] elioqoshi commented on #96
Inputs like these should be disabled. I suppose we can limit the input a user can insert to something like 20000px? What do you think @h4ck3rm1k3 ?

[2018-03-06 15:03] elioqoshi commented on #77
@Borisbudini should know more. We have Travis

[2018-03-07 12:24] kominoshja commented on #78
I think it's line 82. However I'm unsure how to fix it

[2018-03-07 12:27] kominoshja commented on #57
I think there's something wrong with the server. I'll take a look at it today

[2018-03-07 13:58] kominoshja commented on #57
@elioqoshi i checked the server and tried another fresh installation and it seems it's something wrong with the code.

[2018-03-07 20:00] elioqoshi commented on #57
@Borisbudini I suggest to revert the commit, what do you think?

[2018-03-07 20:04] kominoshja commented on #57
I'm afraid that might reverse all changes done after that commit. I'll do a PR about that specific file. Sounds good?

[2018-03-07 20:17] elioqoshi commented on #57
Pretty sure that reverting the commit only reverts changes of that specific diff

[2018-03-07 23:18] rskikuli opened #102 "On a shared link you can't go back to the project"
### Expected Results
When visiting a link shared from someone else that has a specific item (color code element for example) and you click on the close button (X) it goes back to the project page.

### Actual Results
When visiting a link shared from someone else and you click on the close button (X) it closes all the page and redirects to a blank page.

### Browser and Screen Resolution
Firefox (l

[2018-03-07 23:27] rskikuli opened #103 "Switching between selected colors should change color codes"
### Expected Results
When you switch between colors in the 'Colors' section the value of the color codes does not change.

### Actual Results
Color codes do not change.

### Screenshots
![black_screenshot from 2018-03-08 00-21-18](https://user-images.githubusercontent.com/17770262/37124071-12ec3bc0-2267-11e8-9429-c6cde5c97c89.png)
![red_screenshot from 2018-03-08 00-20-55](https://user-images.gith

[2018-03-08 00:02] elioqoshi commented on #103
Assigning 0.4 to this. @rskikuli 0.2 is overdue over a month and 0.3 a week.

So it seems that there is only black and white appearing in the RGB fields. I think it's catching the wrong value from the backend and it seems as if it's fetching the color of the overlay on the color, instead the color itself (as you can see, the overlay on the color assets are white or black depending on the color bri

[2018-03-08 10:50] elioqoshi commented on #103
Seems Redon filed this already: https://github.com/uracreative/identihub/issues/102

[2018-03-08 11:41] rskikuli commented on #103
@elioqoshi there is no clear way of understanding what is 04 and what 02 is. Let's define it!

[2018-03-08 16:41] kominoshja commented on #57
I'll revert it then!

[2018-03-08 16:46] kominoshja commented on #57
It seems I can't revert it since there are other changes. Creating a PR

[2018-03-08 17:01] kominoshja commented on #57
@elioqoshi & @jancborchardt I managed to fix it instead of just reverting it. The changes are up in dev.identihub.co I'm closing this issue now.

[2018-03-08 17:01] #57 closed

[2018-03-08 17:41] elioqoshi commented on #57
Thanks @Borisbudini

Let's fix some more issues and get this into the demo soon.

[2018-03-08 18:02] elioqoshi commented on #103
@rskikuli It's the version number of the upcoming release. If you have seen the roadmap, it has the same milestones. Anything under a certain milestone should be ready and done for a specific release date.

0.2 and 0.3 are in the past, so adding them to past milestones doesn't make sense.

[2018-03-08 21:23] elioqoshi opened #105 "Rename 'Project' to 'Page'"
In the beginning we called each Project a "Bridge" which would host the visual assets of any brand or project. As I was thinking however, I don't think that ideal. Project might suggest that it's something unfinished or unpolished, while we want to make it look curated. It might be worth renaming "Projects" to "Pages" which I think is also a bit clearer.

"Can you create a page for Firefox?"
sound

[2018-03-08 21:24] elioqoshi commented on #105
@rskikuli @AnXh3L0 @Borisbudini @jancborchardt @brantje @bnvk @budaaaa @marianaballa and others

[2018-03-08 21:46] kominoshja commented on #105
I think they both sound good but I would ultimately go with 'Page', because it seems more finished.

[2018-03-10 09:53] jbelien commented on #77
Hey, I just had a quick look and the "culprit" could be `Imagick`.

I found [this post](https://stackoverflow.com/questions/10383305/how-to-resize-an-svg-with-imagick-imagemagick) that seems to have the same problem and provides some solutions. Didn't try those though.

[2018-03-10 11:24] kominoshja commented on #103
Seems @budaaaa has fixed it at https://github.com/uracreative/identihub/commit/4182e6c35252f910be994aabbf57e8601cf1fb3e (file: [resources/assets/js/components/ColorSidebar.js](https://github.com/uracreative/identihub/commit/4182e6c35252f910be994aabbf57e8601cf1fb3e#diff-a432fb1babe6725bcafb6edab96a0708))
It is already working on dev ([example](https://dev.identihub.co/project/w#/view/color/element/

[2018-03-10 11:24] #103 closed, assigned to nobody

[2018-03-10 11:40] h4ck3rm1k3 commented on #96
This could consume all your memory and crash your server, it is a #security issue

[2018-03-10 11:50] kominoshja commented on #66
@elioqoshi I think this issue can be fixed with frontend alone (Maybe a template that allows you to chose licenses) @budaaaa what do you think?

[2018-03-10 11:55] kominoshja commented on #58
@elioqoshi @jancborchardt what do you propose for implementation? The template suggested by @elioqoshi at https://github.com/uracreative/identihub/issues/58#issuecomment-357323928, or just renaming it to Logos?

[2018-03-10 14:13] elioqoshi commented on #58
This is Logos now and we can close this issue until we implement a feature to customize it.

[2018-03-10 14:13] #58 closed

[2018-03-10 14:14] elioqoshi commented on #66
This is way ahead in the future and we shoud prioritize some other issues first.

[2018-03-10 14:15] elioqoshi commented on #96
@h4ck3rm1k3 maybe we can limit input numbers to something like 20000px?

[2018-03-10 15:29] h4ck3rm1k3 commented on #77
Ok so I am thinking we should resize the SVG before sending it to imagemagick. Do you prefer any svg manip tool for php?

[2018-03-10 16:16] elioqoshi commented on #77
That sounds reasonable. I don't think we are too picky right now so whatever you think is best @h4ck3rm1k3

[2018-03-15 18:03] Egzonrexhepi commented on #96
@h4ck3rm1k3 If its not required to allow the user to input a 100k height icon, then u can simply limit it in the input.

[2018-03-16 10:09] elioqoshi commented on #96
@Egzonrexhepi limiting in the input is indeed sufficient.

[2018-03-16 12:30] budaaaa commented on #96
Limiting the input is not sufficient the user can find other ways to send input to the server for example with [Postman](https://www.getpostman.com/) and still take the server down.

[2018-03-16 12:42] elioqoshi commented on #96
It would be a good first fix though. Right now we don't have any barrier. Limiting the input would take care of "accidental" issues. We can look for a server side solution then as well. But the first should be a low hanging fruit which can be fixed quickly I suspect.

[2018-03-18 20:35] sidis405 commented on #96
#107 Sent in a pull request for this matter addressing the backend validation issue. Now laravel will throw a 422 error if the height or width exceed 20000px.
Requires some work on the react side (from someone a bit more competent than me at it) to give the feedback to the user.

✌️

[2018-03-18 20:37] elioqoshi commented on #96
@sidis405 Superb, thanks man! @budaaaa can you check it?

[2018-03-18 20:58] sidis405 commented on #78
#108 This should solve this matter. Wraps the org name in double quotes.

[2018-03-19 13:42] rskikuli commented on #26
@budaaaa ping about this.

[2018-03-19 13:50] budaaaa commented on #26
@rskikuli  This one is completed since Jan. Waiting for team to confirm so the issue can be closed

[2018-03-19 16:50] sidis405 commented on #77
So i've been fiddling with this matter since last night and ultimately from all the research and sparse sources the 'todo' is rather clear. setResolution must be called on the Imagick object prior to loading the svg object. This corresponds to the -density flag on the command line.

The problem is that the php api of Imagick for -density is broken for svgs.
There are two options.
1. try modify the

[2018-03-19 19:28] kominoshja commented on #77
I think it makes more sense if we go with the 1st solution as Identihub, as we can not guarantee every user has access to exec(). What do you think? (@elioqoshi @h4ck3rm1k3 @jbelien @brantje)

[2018-03-19 20:04] jbelien commented on #77
Use of `exec()` could indeed be tricky !
I would use something like [Symfony Process Component](http://symfony.com/doc/current/components/process.html).

[2018-03-20 11:40] sidis405 commented on #77
@jbelien Symfony sounds indeed like an interesting approach. Today/tomorrow i'll test both of these approaches out, post back the results and then we decide which way to go @elioqoshi

[2018-03-20 13:01] elioqoshi commented on #77
Thanks @sidis405 , that sounds good.

[2018-03-20 15:40] jancborchardt commented on #105
Project is a pretty universal term, it doesn’t really have the connotation of something being unfinished. »Page« sounds very generic and unclear, and it’s just like »Bridge«, it is a terminology you fully define.

Right now, »Projects on Identihub« are actually symmetric to the projects they represent. And that’s good.

Another option could be »Styleguide« or something comparable and specific. »Cr

[2018-03-21 10:30] h4ck3rm1k3 commented on #77
I think to parse out the svg into a dom, manipulate it and generate it is the way to go.  This might do it, have never worked with it https://github.com/Arlisaha/SVG-PHP-DOM-Extender but something similar.

[2018-03-21 10:37] jbelien commented on #77
SVG being XML, it is definitely a good idea !
Definitely worth to have a look at this way to do it !

This library seems unmaintained though :/

[2018-03-21 12:45] sidis405 commented on #77
#109 Just added a pull request that should solve this matter.

[2018-03-21 21:44] bnvk commented on #105
Project is definitely best IMHO.

[2018-03-21 21:46] elioqoshi commented on #105
Okay, we have consensus, let's keep it as it is :)

If anyone has any strong objections, you can state them here.

[2018-03-21 21:46] #105 closed, assigned to nobody

[2018-03-22 09:37] sidis405 commented on #78
Did someone have a chance to have a look at this so we can close it?

[2018-03-22 09:53] elioqoshi commented on #78
@Borisbudini reviewed it, judging from the PR. Closing this, thanks for your work!

[2018-03-22 09:54] sidis405 commented on #78
Cheers hombre. If we notice smth else we can reopen it but it was a fairly precise intervention and as such should not be related to other things.

[2018-03-22 09:57] #78 closed

[2018-03-22 10:12] elioqoshi opened #110 "display PNG instead of SVG for security reasons"
Currently, SVG's are displayed as is on Identihub

Basically we don't want to display SVG's as it can have security issues if a user uploads a shady SVG which can run a script and break the site.

So there are probably 2 ways to do this:
One nice way might be to be able to sanitize SVG's but seeing how complex they are, I don't think that's a bulletproof solution.

I'd suggest that we don't displa

[2018-03-22 13:20] sidis405 commented on #76
#111 Here we go. This should get the ball rolling.

[2018-03-22 18:24] ghost opened #113 "Logged after created an account"
### Expected Results
We should be logged after created an account and don't have to write a second time login and password

### Actual Results
after created an account, we have to write another time the login and password

### Browser and Screen Resolution
All

### Steps to Reproduce
create an account

### Comments

[2018-03-22 18:25] sidis405 commented on #110
#112 An implementation following the steps described on the issue by @elioqoshi

[2018-03-22 18:31] ghost opened #114 "send email activation just after account was created"
### Expected Results
don't wait the first login to send the activation mail,
send it just after the account was created

### Actual Results
have to login once to receive the mail

### Browser and Screen Resolution
All

### Steps to Reproduce
create an account -> login at first time

### Comments

[2018-03-22 18:36] sidis405 commented on #72
Can't seem to reproduce this either. Perhaps should be closed for the time being.

[2018-03-23 10:38] elioqoshi commented on #72
@bnvk if you can reproduce it let us know. Closing for now.

[2018-03-23 10:38] #72 closed

[2018-03-23 10:40] elioqoshi commented on #114
Thanks for the issue @ucodi !

I was not aware this was the case. Can you confirm @Borisbudini @budaaaa @sidis405 ?

[2018-03-23 10:44] elioqoshi commented on #113
Thanks @ucodi makes sense. We are so deep in development now that we forget about these early steps and help from newcomers is very important here :)

@Borisbudini @sidis405 is there a quick fix for this?

[2018-03-23 10:44] sidis405 commented on #114
@elioqoshi That is a peculiar behaviour but @ucodi is right.
From the source, it also seems that it is explicitly intentional. Is it not the case anymore? Should it send it immediately upon registration?

[2018-03-23 10:46] elioqoshi commented on #114
@sidis405 Yeah I was not aware of it. It should be sent upon registration indeed.

[2018-03-23 10:46] sidis405 commented on #113
@elioqoshi Surely but it is a logical conflict with the activation email flow. So either the user is activated from the link email, or upon registration is activated and logged in.
Clearly not both.

[2018-03-23 10:52] sidis405 commented on #114
I would treat this matter in combination with issue #113 from @ucodi .
Basically let's just define verbally what the flow should be, and then implement it.

So, does the user get logged in after registration?
If yes, then it is activated, thus no point in sending the email.
If not, then okay we send the email upon registration and not first login.

In the end, we either implement this issue, or #1

[2018-03-23 10:59] elioqoshi commented on #114
I think what @ucodi meant is this:

You register, email confirmation gets sent. You click on the activation link, you get redirected to Identihub where you are logged in now.

Right now, as far as I understand, you click on the confirmation link and you get redirected to Identihub where you need to login now manually again.

Does that make sense @sidis405 ?

[2018-03-23 12:11] sidis405 commented on #114
That makes more sense actually. I'll see to fix this.

[2018-03-23 13:45] sidis405 commented on #114
#115 Here we go :)

[2018-03-23 13:45] sidis405 commented on #113
The #115 pull request sorts out this matter @elioqoshi

[2018-03-23 13:46] sidis405 commented on #77
Has anyone had a change to review and maybe close this?

[2018-03-23 13:51] sidis405 commented on #30
I see in the source that this command has been placed on the laravel scheduler as a monthly task.
Is there smth else needed for this?

[2018-03-23 14:08] elioqoshi commented on #30
I think monthly is a bit too rare. Maybe weekly? What do you think?

[2018-03-23 14:11] elioqoshi commented on #113
Thanks! @Borisbudini please review?

[2018-03-23 14:11] sidis405 commented on #30
What would be a sensible default?

[2018-03-23 14:14] elioqoshi commented on #30
I think Weekly. Google Fonts adds Fonts quite often, so Weekly or Biweekly would make most sense.

[2018-03-23 14:27] sidis405 commented on #30
#116 Set to run weekly on Sunday at 3am

[2018-03-23 15:01] elioqoshi commented on #30
Thanks, merged!

[2018-03-23 15:01] #30 closed

[2018-03-23 15:10] sidis405 commented on #30
Cool beans 👍

[2018-03-23 17:02] kominoshja commented on #113
On it!

[2018-03-23 17:03] kominoshja commented on #77
Fixed, check it over at https://github.com/uracreative/identihub/pull/109#issuecomment-375733660

[2018-03-23 17:14] kominoshja commented on #76
The backend has been merged. (https://github.com/uracreative/identihub/pull/111)
@budaaaa can we add the frontend for this?

[2018-03-25 14:48] elioqoshi commented on #96
This has been merged, closing. Thank you!

[2018-03-25 14:48] #96 closed, assigned to nobody

[2018-03-25 14:49] elioqoshi commented on #82
@sidis405 Do you think you can work on this? I suppose this requires a change in the db tables?

[2018-03-25 14:53] elioqoshi commented on #52
@sidis405 could you add the backend for this? I suppose it needs a flag for every SVG (Logos) and PNG (Images) Asset which determines the state of the asset:

- Default Vanilla (no hint, as it is right now)
- Do Use
- Do not use

@budaaaa can work on the frontend part afterwards.

[2018-03-25 14:57] elioqoshi commented on #51
@jancborchardt How would you imagine this section? I'm not sure what it would entail. Can you make a mockup? Would it be pure text or can the user format the text?

[2018-03-25 14:59] elioqoshi commented on #37
We need to think about this relatively soon. I think ideally after the refactoring. What do you think @sidis405 @budaaaa ?

[2018-03-25 15:07] elioqoshi opened #120 "updating assets creates a new embed link"
Identihub is designed to update an asset to a next version, keeping its embed link the same.
So if I upload Logo.svg and update it later with a new SVG, the new filename/URL should be the same Logo.svg as before. This allows people to embed assets everywhere and update them centrally.

I suppose this can work in this way:

When you upload an asset, it will be LogoV1.svg. On upload it will be dupli

[2018-03-25 15:08] elioqoshi commented on #120
@sidis405 Will you be able to look into this? Was my description sufficient? I probably don't use the right definitions to describe the scenario

[2018-03-25 17:04] sidis405 commented on #96
👍 :)

[2018-03-25 17:11] sidis405 commented on #4
@Borisbudini  The auth now is done through the Laravel mechanisms, so Socialite would probable be the way to go. Rather straightforward no?
The question then becomes why **only** github and why not also XyZ provider.

[2018-03-25 17:21] sidis405 commented on #37
I'd say ideally after a serious refactoring as well @elioqoshi .
Afterwards the todo is rather straightforward in my opinion.
Laravel has already translation support so the idea would be to use them and pass a js object to the front end that subsequently can reference this object to provide translation, thus hardcoding keys and not values.

[2018-03-25 17:28] sidis405 commented on #52
@elioqoshi Yep shouldn't be a problem. Before storing this flag into the db, we need to figure out when would the do/don't marking actually happens. This way we can figure out how it affects other data.

For example if i as a user (somehow):
- mark a svg as "don't", what happens to the pngs that have already been generated from it?
- mark a png as "don't", does it affect other pngs? Does the png n

[2018-03-25 17:46] sidis405 commented on #82
@elioqoshi Very doable. We can store the link in the db during setup but first i'd say some front end support is needed for this. (I assume we are talking about any link, defined by the user that could point potentially to a resource external to identihub right?).
As in where it would be placed, and what is the text of that link, is it the organisation name perhaps?

[2018-03-25 17:50] sidis405 commented on #120
I think i get it but we need to discuss it a bit more.
By that i mean discuss also the implications of it. For example if i upload a new version of the svg, what happens to the conversions that have already been made for a previous version?

[2018-03-25 17:54] sidis405 commented on #25
Would it make sense to use the Laravel based template for now just to avoid the plain look and thus creating a base for graphical customisations to be made later?

[2018-03-25 17:58] sidis405 commented on #32
@elioqoshi if you guys in a graphical/frontend sense, give me a place where this toggle occurs (short of the installation process of course) i can have it implemented swiftly.

[2018-03-25 18:03] sidis405 commented on #102
@elioqoshi this is a proper UIX nuisance and can be resolved with minimal effort on the frontend (simply by having the react component navigate back to bridge root url).

[2018-03-25 20:48] jancborchardt commented on #51
Simple text is ok cause this is about using it in copywriting. It's simply regarding wording and capitalization.

[2018-03-25 21:23] elioqoshi commented on #25
I am unsure about that. Plain text HTML has its advantages and preferred by many. @bnvk what do you think?

[2018-03-25 21:35] sidis405 commented on #25
Well, currently it's not plaintext. It's just unstyled html.
So my suggestion was to use something slightly better formatted and open the door for further customisations in the future if needed.

[2018-03-25 21:38] elioqoshi commented on #52
Sorry, I have it clear in my head but have trouble expressing it. The do/don't is a graphical icon in the user interface of Identihub. It does not affect any file itself (neither PNG or SVG). However, that would create another usability problem. Why would anyone want to download an SVG, convert a PNG or even embed link a DO NOT asset? It's there for educational purpose, not actual usage, right? I

[2018-03-25 21:43] sidis405 commented on #52
Actually that makes a lot of sense and it's fairly clear now.
The mockup would be anyhow useful for me and the front end peeps in order
to perhaps reason nuances of things.

Either way I think we're good to start working on this if you guys deem it
a priority matter.

On Sun, 25 Mar 2018, 23:38 Elio Qoshi, <notifications@github.com> wrote:

[2018-03-26 08:02] elioqoshi commented on #25
I get that, but a lot of Open Source and Free Software activists prefer plaintext for various reasons. I'd like to ask the advice of some fellow designers here: @renatagegaj @victoria-bondarchuk @bnvk @jancborchardt ?
What do you think? Stylized HTML or Plaintext?

[2018-03-26 08:07] elioqoshi commented on #4
@sidis405 in the future we want Identihub to sync assets via a Git Repo, so logging in with GitHub makes sense. I suppose GitLab auth is also ideal. BitBucket would be a plus too.

If it's not a lot more work to integrate more than GitHub, the better.

This is also closely related to having a profile settings page in the GUI to check these settings and change them, since right now there is no inte

[2018-03-26 08:08] elioqoshi commented on #4
I just noticed that Socialite supports also Bitbucket, which makes it easier.

I'd refrain from including Facebook and Google for boycotting reasons. I'm torn about Twitter but would rather not to as well.

[2018-03-26 09:27] sidis405 commented on #25
@elioqoshi Nah that makes sense, even though these are purely transactional emails (activation and pwd reset). If plaintext to be the final choice, the current email will need to be transformed into plaintext.

[2018-03-26 09:30] sidis405 commented on #4
@elioqoshi well if the idea is to have some sort of version control provider (github, gitlab, bitbucket etc) synced to the data, i find it rather cool but it will require a decent size of engineering and management since now all is managed in a custom way with data stored into the db. But that's another conversation for another time.

The settings page is absolutely mandatory at this point.

[2018-03-26 09:34] elioqoshi commented on #4
It needs a lot of engineering, and is probably something for version 2 (if not 3) of Identihub, if we are lucky by the end of this year.

Technically, authentication has not much to do with the fact that we plan to integrate git into the workflow later, but semantically it makes sense to be able to log with git providers. Then again, if you want to make it accessible also by folks like Journalists

[2018-03-26 09:54] sidis405 commented on #4
I understand, but if that is the plan, the way the things are stored now will need to be redone with that change in mind, at least structurally, to allow for 2way version control integration. Regardless of when it happens.
But it's good that you mention it :)

Well, i guess we can add support for a few and allow the admin user to chose which ones they intend to use, thus offloading the necessity t

[2018-03-26 09:57] elioqoshi commented on #4
That sounds like a great solution then!

Let me get back to your with a prioritization plan as these issues are slowly piling up and we need to see what to work on first

[2018-03-26 09:58] sidis405 commented on #4
Excellent :)

[2018-03-26 13:18] elioqoshi commented on #76
This can be directly added to the dropdown like this @budaaa

![image](https://user-images.githubusercontent.com/5436686/37908579-f54a56e6-3108-11e8-9de4-46f929331e3e.png)

[2018-03-26 13:49] elioqoshi commented on #25
Let's turn this into plaintext for now and we can revisit later

[2018-03-26 13:56] elioqoshi commented on #26
This is implemented and works great, closing. Thanks!

[2018-03-26 13:57] #26 closed

[2018-03-26 16:24] sidis405 commented on #25
Got it. Could you assign it to me so i don't lose track?

[2018-03-26 16:25] sidis405 commented on #4
@elioqoshi if you could quickly assign this to me so i can plan the work for the days to come.
Thanks hombre :)

[2018-03-26 16:28] elioqoshi commented on #4
@sidis405 I'm stretched a bit thin right now, but I plan to get a document ready by tomorrow for the next steps as @budaaaa is awaiting it as well. We should get you both synced so you can work in tandem ideally.

[2018-03-26 16:29] sidis405 commented on #4
Cheers man. sounds good.

[2018-03-26 16:48] bnvk commented on #25
Plain text hands down. From a security and interoperability perspective
plain text is the way to go with the emergent benefit of better usability.

[2018-03-26 17:03] kominoshja commented on #110
This solution has been tested on fresh and previously used servers. It works. Closing issue

[2018-03-27 08:23] elioqoshi commented on #25
Plain Text it is then. @sidis405 adding you as a collaborator soon after figuring out the next plan of action

[2018-03-27 08:27] elioqoshi commented on #110
It doesn't work yet. Reopening.

PNG's displayed in gallery view are in resolution which is too low and appears blurry. Have a look:
https://dev.identihub.co/project/new-test#/view/icon/element/37

![image](https://user-images.githubusercontent.com/5436686/37955635-6a60b088-31a9-11e8-9d34-212e52f84b6e.png)

@sidis405 I suppose 2 PNG's need to be generated, 1 for the card, 1 for the gallery view, r

[2018-03-27 08:30] elioqoshi commented on #14
@sidis405 want to have a stab at this? The frontend code is already integrated, only backend is missing.

[2018-03-27 08:43] elioqoshi commented on #120
@sidis405 I thought about that too. So every version of an asset would be stored with a version number. Like: LogoV1.svg, LogoV2.svg, LogoV3.svg
Depending on which of them is currently used, it will also be duplicated to the currently used filename. So LogoV3.svg would also have a copy as Logo.svg. That asset ALWAYS uses Logo.svg for embed links and that doesn't change. If it gets updated, the new

[2018-03-27 08:50] elioqoshi commented on #59
Closing this for the time being. This will be addressed with custom background colors for individual assets set by the owner in the future.

[2018-03-27 08:50] #59 closed

[2018-03-27 08:52] elioqoshi commented on #33
This is a huge undertaking which is not an issue but an epic. This is definitely beyond 1.0 so removing milestone here.

[2018-03-27 08:54] elioqoshi commented on #32
I suppose this happens in the installation process?
What if the admin changes their mind and wants to open up registrations later? I suppose this would be part of an admin panel, which is a bigger undertaking

[2018-03-27 08:55] elioqoshi commented on #32
Setting this as 0.6 for the time being (quite optimistic). We need to discuss how this will work out first.

[2018-03-27 08:57] elioqoshi commented on #16
lol "finish in the next 2 weeks"
@sidis405 So this was what we were talking about the other day.

[2018-03-27 09:00] elioqoshi commented on #10
@sidis405 I think this would be nice to have, but not pressing right now.

[2018-03-27 09:04] elioqoshi commented on #77
@Borisbudini why do you close issues when they are not properly tested? This is not working on dev.identihub.co

It doesn't allow me to add new resolutions at all (nothing happens when clicking on the Add size button) How did you check that this is working?

[2018-03-27 09:41] h4ck3rm1k3 commented on #77
add a test case and prove it is working. That is what I started on.

[2018-03-27 11:18] sidis405 commented on #10
@elioqoshi  It's nice indeed. But it's a bit of a architectural conundrum. Especially if you pair it with internationalisation features. It's either gonna be translated by the system, or overridden by the user.
To do both it becomes a bit messy.

[2018-03-27 11:43] sidis405 commented on #77
Hmm idk @elioqoshi . I don't know what is currently rolled on dev but this https://dev.identihub.co/assets/testing_ICONS_converted_2-3675x2722.png was generated from a 400px svg.

[2018-03-27 11:44] sidis405 commented on #25
sounds good.

[2018-03-27 11:46] sidis405 commented on #16
@elioqoshi yep. I currently have a local branch while looking into this. Trying to make sense of the various styles of coding on the backend where some mysterious flags are present. False that means true and true that means false

[2018-03-27 11:52] sidis405 commented on #110
![screen shot 2018-03-27 at 13 49 57](https://user-images.githubusercontent.com/844961/37965555-c439f274-31c5-11e8-9cdf-8dbcb3436ca5.png)

That's exactly what happens. If there are other references in the react code that i have missed, then perhaps someone that knows the react codebase should have a look at this and replace the necessary references as specified in the pull request.

I would again

[2018-03-27 11:54] sidis405 commented on #14
@elioqoshi Oki doki. Placing this on the todo list. What is the front-end integration i should be expecting to find regarding this?

[2018-03-27 14:04] kominoshja commented on #77
@elioqoshi can you please elaborate? I tested it yesterday as well with no issues

[2018-03-27 14:15] elioqoshi commented on #77
I think it was pretty clear. The add size button is not working and doesn't give any feedback. I agree with Mike that we might want to add a test case for this.

[2018-03-27 14:16] elioqoshi commented on #110
I'm trying this out on the dev branch, where this is merged. @budaaaa can you check this out?

[2018-03-27 14:18] sidis405 commented on #77
What size of conversion are you currently trying to make? I tried this on
the dev.identihub.co deployment with no issues.
Could this be a matter if needing to add feedback for the user while the
conversion  is being done?

On Tue, 27 Mar 2018, 16:15 Elio Qoshi, <notifications@github.com> wrote:

[2018-03-27 14:18] kominoshja commented on #77
I just tried to add a size just before posting the comment. Please elaborate. Is it a new logo? Missing feedback? Any errors on Network

[2018-03-27 14:28] elioqoshi commented on #77
Hmm weird, you are right. It works, but not in one asset I just tried uploading. It works on others. Let me check.

[2018-03-27 14:38] elioqoshi commented on #10
True, maybe we should discuss this after the refactoring

[2018-03-27 15:43] elioqoshi commented on #77
Seems the culprit was a specific SVG file which failed to convert. It seems like an edge case which needs to be solved at some point. I suppose we can close this issue and open another one to describe that bug.

[2018-03-27 16:13] elioqoshi opened #122 "some SVG files fail to be converted into PNG with new resolutions"
Related to https://github.com/uracreative/identihub/issues/77#issuecomment-376542181

Some SVG's can't be converted to other PNG sizes it seems, I tried it with a SVG here:
[LogoNew.zip](https://github.com/uracreative/identihub/files/1852800/LogoNew.zip) and everything is fine, until I tried adding new sizes, where nothing happens. I tried checking the hypothetical URL of the to-be converted PNG ,

[2018-03-27 16:40] elioqoshi commented on #77
Filed this issue: https://github.com/uracreative/identihub/issues/122

Closing this one, thanks for your work on this!

[2018-03-27 16:40] #77 closed

[2018-03-27 16:42] elioqoshi commented on #82
@sidis405 I was thinking something exactly like in @mray mockup in the first comment here.
So just a link for now.

In 2.0 and in the future we can always make it fancier, but this would be a good low hanging fruit.

@budaaaa should be able to do frontend support for this.

[2018-03-27 16:43] elioqoshi commented on #102
@budaaaa can you create a patch for this?

[2018-03-27 16:46] elioqoshi commented on #10
That's right. Maybe let's keept it as it is for now and keep it in mind in the refactoring when designing the architecture?

Closing for now, let's solve one thing well first.

[2018-03-27 16:46] #10 closed

[2018-03-27 16:48] elioqoshi commented on #74
@sidis405 this is the huge Git integration I told you about. It's a pretty major gamechanger and part of the bigger vision of Identihub. We hope to get this done by the end of the year for a big 2.0 release. Maybe faster if we get funding :)

@bnvk We didn't forget about this, it's just such a big feature that we haven't wrapped our mind around it yet

[2018-03-27 16:50] elioqoshi commented on #66
Pushing this one milestone down.

[2018-03-27 16:52] elioqoshi commented on #52
I marked this as 0.5 so there are other priorities to fix first I suppose, but this would definitely be great before the stable 1.0 release :)

[2018-03-27 17:03] elioqoshi commented on #52
Quick ugly mockup here. Basically consisting of this:

![image](https://user-images.githubusercontent.com/5436686/37982701-9c89f522-31f1-11e8-99eb-53c272539807.png)

For the Do not use, there would be also text on the sidebar instead of the asset downloads. It needs a few tweaks here and there, but that's mostly on the frontend part and luckily @budaaaa has a design background as well

[2018-03-27 18:04] elioqoshi commented on #14
There should be a checkbox on the sidebar of every asset:

![image](https://user-images.githubusercontent.com/5436686/37985788-06b05d4e-31fa-11e8-8384-81659a97e708.png)

I suppose @budaaaa knows more.

[2018-03-27 18:44] kominoshja commented on #77
@sidis405 Here's the svg @elioqoshi is having problems with.
https://dev.identihub.co/app#/project/6/view/icon/element/40
Opening the svg you get:
https://dev.identihub.co/assets/W_ICONS_19.svg

[2018-03-27 18:44] elioqoshi opened #124 "Images are too small in the gallery view"
Right now images are very small in the gallery view, making it not suitable for photos:
https://demo.identihub.co/project/sustainoss#/view/image/element/58

![image](https://user-images.githubusercontent.com/5436686/37987622-f6254f52-31fe-11e8-935e-eeaba82a8932.png)

Ideally the behaviour should be similar to the SVG section, if not bigger.
Probably something like this for starters:

![image](http

[2018-03-27 19:54] jancborchardt commented on #25
Yeah – while HTML mails can look nice if they are simple, they really are a huge pain to get right cross-platform and on all form factors (inline styles etc etc).

And keeping in mind most people probably get the mail on mobile and simply want to click on the link, it’s better to go with plain text which renders well everywhere.

[2018-03-27 19:58] jancborchardt commented on #52
I wouldn’t specifically mark the »use this« files, as that’s the default and adds noise. The »Common mistakes« section is really only for mistakes.

A good example of this are the [Mastercard guidelines](https://brand.mastercard.com/brandcenter/mastercard-brand-mark.html) (sorry for that corporate stuff …)
![screenshot from 2018-03-27 21-55-47](https://user-images.githubusercontent.com/925062/3799

[2018-03-27 21:15] elioqoshi commented on #52
Okay, so Do not would be added then only. Makes sense, thanks for the clarifications Jan!

[2018-03-27 21:18] elioqoshi commented on #77
You pasted a private link again. Anyway, I think I exported it wrongly so let's not waste too much time on it. Let's close the discussion here and bring it up again if needed in #122

[2018-03-27 23:04] elioqoshi commented on #16
While you are at it, April Fools is approaching so you can add your 2 cents as well :P

[2018-03-27 23:13] elioqoshi commented on #37
Makes sense. Not putting any milestone here for the time being as we have lots to do already.

[2018-03-27 23:17] elioqoshi commented on #17
@sidis405 I suppose we shouldn't make asset filenames customizable as that would create problems with embedding, however we can improve the formatting of how filenames are generated I suppose

[2018-03-27 23:21] elioqoshi commented on #31
@sidis405 also the question with this, does this make sense before or after the refactoring? It's a feature so pushing this down for later anyway.

[2018-03-27 23:45] #23 closed

[2018-03-28 07:57] sidis405 commented on #122
@elioqoshi You're right.
I'm gonna need to figure out how to get around the following:
[code]

[2018-03-28 09:12] elioqoshi commented on #122
In your defense, I think the SVG is buggy and badly exported. I cannot open it again. I just am surprised Identihub accepts it at all, but doesn't convert it on user input. Might be better to completely reject it.

[2018-03-28 09:15] sidis405 commented on #122
It is very possible for me to reject it. For this and other interactions,
or at least error messages from the server, we would need a way to give
user some feedback.
It's useful in this case, in the case of other errors that may occur or
even positive feedback upon completion of a conversion or user requested
actions.

On Wed, Mar 28, 2018 at 11:12 AM, Elio Qoshi <notifications@github.com>
wrote:

[2018-03-28 09:17] elioqoshi commented on #122
The feedback for the user is pretty lacking right now and we need to fix this in the frontend.

[2018-03-28 09:19] sidis405 commented on #122
I agree. Frankly the responses are coming already back from the server with
(not always) meaningful messages,
so displaying them in a front end component might be a first stab at this
issue.

On Wed, Mar 28, 2018 at 11:17 AM, Elio Qoshi <notifications@github.com>
wrote:

--
--
P.S.
Vi prego di inviare un breve reply di avvenuta lettura del messaggio.
Grazie.
Please send a brief reply that you have

[2018-03-28 10:42] sidis405 commented on #122
Either way, i'm gonna add some regression tests to flesh this out and submit a pull.

[2018-03-28 10:43] sidis405 commented on #110
@elioqoshi Can we circle back to this for a moment?  :)
The loss of resolution is issue #77 and not this on.

The png that is generated as preview is done automatically from the upload without going through the svg scaling system apparently. Is there a safe dimension i can go by here so that i can safely create the first png to be used both here and on the card?

[2018-03-28 10:46] sidis405 commented on #76
@budaaaa You can treat this the same way as any other upload and it should be good to go:)

#111

Let me know if there's anything i can assist you with.

[2018-03-28 11:02] rskikuli opened #126 "Social-share a project"
### Expected Results
On public project we will need to have easy sharing capabilities of the public project page on social networks, email and/or just email.

### Actual Results
There are no sharing capabilities right now except for the fact that users can grab the link from their browser url address field.

### Browser and Screen Resolution
Needed for all browser and screen resolutions.

### Comm

[2018-03-28 11:22] elioqoshi commented on #110
the loss of resolution in the other issue was related to conversions. Here it's related to displaying assets.

@sidis405 I suppose that you can generate a PNG with enough resolution for the gallery view which is sufficient also for the card view. I suppose a resolution of 1500px width would be enough.

[2018-03-28 13:32] elioqoshi opened #127 "remove drag button on cards and add drag mouse hover over the whole card"
Currently, there is a drag button in the upper left corner of every card. However it's pretty useless right now as users can rearrange cards by dragging the whole card itself, not only the drag button.

Due to this, let's remove the drag icon on every card and add a mouse drag hover when hovering on the whole card to indicate that it can be moved. So the interaction won't change here.

As this is

[2018-03-28 19:12] elioqoshi opened #129 "Long Project Titles are truncated in public view"
## Detailed Description
If a project has a long name, it appears truncated in public view, although not in admin view.
This project is called Reproducible Builds Logo Voting and it appears like that publicly:

![image](https://user-images.githubusercontent.com/5436686/38050790-78aff382-32cc-11e8-942c-3690b51805e0.png)

(https://demo.identihub.co/project/r-b-logo-voting#/)

[2018-03-28 19:17] elioqoshi opened #130 "card asset previews have more margins in Firefox than in Chrome"
## Detailed Description
Currently, asset previews on cards have the expected size on Chrome but are way smaller (more margins) in Firefox. See example here (left Firefox, right Chrome):

![image](https://user-images.githubusercontent.com/5436686/38051035-51a1c0c6-32cd-11e8-96f9-37da08f64d15.png)

## Possible Implementation
The margins should be consistent across browsers.

[2018-03-29 16:31] sidis405 commented on #25
@elioqoshi since we were already working on the mailing system on #115 , that pull request now ensures that the email is being sent is actually plaintext

[2018-03-29 16:36] sidis405 commented on #126
@rskikuli This should not be a problem at all. Non the less, the work i suggest should start from the frontend here.
The social sharing links are simple links injected with dynamic variables.
The various links can be found here

[https://github.com/bradvin/social-share-urls](https://github.com/bradvin/social-share-urls)

Once that is done and we have a component to input recipient email we can do

[2018-03-29 19:18] kominoshja commented on #114
Fixed with https://github.com/uracreative/identihub/pull/115
Closing issue

[2018-03-29 19:18] #114 closed, assigned to kominoshja

[2018-03-29 19:19] kominoshja commented on #113
Fixed with https://github.com/uracreative/identihub/pull/115
Closing issue

[2018-03-29 19:19] #113 closed, assigned to kominoshja

[2018-03-29 19:30] kominoshja commented on #25
Since it is already plaintext now, I'm closing this issue.

[2018-03-29 19:36] kominoshja commented on #16
From what I've seen this works on [some logos ](https://dev.identihub.co/project/w#/view/icon/element/26) at dev but [not at others](https://dev.identihub.co/project/w#/view/icon/element/40)
[Here's why](https://dev.identihub.co/assets/W_ICONS_19.svg)

[2018-03-29 19:39] elioqoshi commented on #16
Your comment looks like a clickbait article headline. So you mean because the SVG is faulty?

Because the first link is a SVG displayed and the 2nd one is a PNG displayed.

[2018-03-29 19:42] kominoshja commented on #16
Apologies about that one :laughing:
Yes, there is something wrong with the second SVG, which makes it impossible for Identihub to resize and/or convert to png

[2018-03-29 19:43] kominoshja commented on #32
This should definitively go in an Admin Panel, as it is sensitive and organic.

[2018-03-29 19:44] kominoshja commented on #37
Ideally, we should be able to allow contributors to translate via URA's weblate(TBA) and it get's synced on GitHub

[2018-03-29 22:13] budaaaa commented on #37
I don't think backend support is needed that much for this one (if not at all), it can be managed fairly easily in React.
I'm thinking of saving the preferred language as a cookie, and then when the app loads read this cookie and translate the page.

@sidis405 What do you think ?

[2018-03-29 22:15] budaaaa commented on #126
Well if we have the URL's already, social sharing can be done in the frontend directly without needing backend support.

http://nygardk.github.io/react-share/ =====> Demo

[2018-03-30 08:57] elioqoshi commented on #37
Would React do localization with unique keys which are binded to specific languages?

[2018-03-30 08:58] elioqoshi commented on #126
If we can avoid backend work without compromising, let's do that.

If this is not too much work, can we push this forward?

[2018-04-03 08:03] lindsaymacvean opened #132 "What permissions should I give"
I have tried installing this tool on a server with apache document root pointing to the /public folder, but it is giving me a bunch of permission errors. What are the best permissions to set for all the different folders.

[code]

[2018-04-03 08:51] m1guelpf commented on #132
Normally, you just have to chmod -R 777 storage, and everything should be working

[2018-04-03 08:53] kominoshja commented on #132
Did you set them recursively?

[2018-04-03 10:07] lindsaymacvean commented on #132
I did that. Maybe its not permissions
https://brand.misssexylegs.com/

[2018-04-03 10:08] lindsaymacvean commented on #132
https://brand.misssexylegs.com/

[2018-04-03 10:41] kominoshja commented on #132
Ah you are on dev branch. You will need to compile it with npm install and npm run production. However, if this is production, switch to master instead

[2018-04-03 10:44] elioqoshi commented on #132
Yeah. We will be having soon a Docker image and the production version will be more stable in the next 2-3 weeks). As said, this is still Alpha and still a bit experimental so this will improve in the near future.

[2018-04-03 10:56] lindsaymacvean commented on #132
Hi yeah that was the problem. I was reading from the master branch readme but had not switched branches on my local git. Once I switched to master and re-ran composer install then it worked like a charm.

Thankyou. This project looks excellent, I will definitely keep tabs on it.

[2018-04-03 10:56] #132 closed, assigned to nobody

[2018-04-03 11:13] elioqoshi commented on #132
Thank you @lindsaymacvean we appreciate the kind words :)

[2018-04-04 07:41] sidis405 commented on #16
Not quite sure in which order those two images were created, but i would imply that the svg displaying one has been created prior to the changes caused by this issue.

Considering that the svgs already uploaded, well, have already been uploaded, going back and making pngs for them sounds futile. Basically when the default png is not found, the system displays the svg version.
Upon new uploads (lik

[2018-04-04 07:42] sidis405 commented on #17
@elioqoshi i think the same. Either that or have the system simply rename the file to be downloaded before sending it to the browser for download, but the benefit here is so small that the complexity to implements it outweighs it very easily.

[2018-04-04 07:44] sidis405 commented on #31
@elioqoshi I would say afterwards if we want that UI support with some sort of password page.
Otherwise, a BasicAuth could be implemented as it requires no UI and the only thing to be done is the component that you illustrated here.

[2018-04-04 07:46] sidis405 commented on #32
The admin panel is slowly but surely raking features. I would keep there the option to send html or plaintext email as well, altogether with possible auth features per project basis (passwords, resets and various limitations such as max size uploads).

[2018-04-04 07:49] sidis405 commented on #74
@elioqoshi Sound good. Anyhow knowing we area pushing in this direction call allow for some measures to be taken meanwhile in order to make life easier when this will need to be implemented

[2018-04-04 07:51] sidis405 commented on #126
@budaaaa I fully agree :)

[2018-04-04 07:54] sidis405 commented on #124
@elioqoshi This perhaps can be addressed by making the first conversion bigger removing thus the need to stretch it as we are in fact talking about a png now.
Could you assign this to me as well so i can make arrangements for it to be fixed?

[2018-04-04 07:56] elioqoshi commented on #124
@sidis405 In fact no, the PNG is still in its full resolution, just displayed on a small scale. What you see in the first screenshot is actually 5472 × 3648 pixel

[2018-04-04 07:57] sidis405 commented on #124
Oh shoot. Never mind then :)

[2018-04-04 08:06] elioqoshi commented on #16
That makes sense for me @sidis405. As the past SVG's were healthy it shouldn't be a problem.

[2018-04-04 21:15] elioqoshi opened #133 "remove /project from URL"
## Detailed Description
Currently, project live on domain.com/project/name
However, it's best practice to eliminate /project from the URL so a project's URL would become domain.com/name making it much more attractive to share and easier to type.

## Context
Twitter, GitHub, Facebook and pretty much every other software use this scheme. The problem of this might be that internally the software migh

[2018-04-04 21:21] elioqoshi opened #134 "public view and owner view should have the same URL"
Currently, a project has 2 views, one public view and one for the project owner:

https://demo.identihub.co/app#/project/5
https://demo.identihub.co/project/uradesign

This is however counterintuitive and results in sometimes sharing the private link which is useless for anyone else. Due to this, we should check whether the logged in user is owner of a specific project and decide based on that whi

[2018-04-04 21:21] elioqoshi commented on #134
This is related to https://github.com/uracreative/identihub/issues/133

[2018-04-04 21:21] elioqoshi commented on #133
This is probably related to https://github.com/uracreative/identihub/issues/134

[2018-04-04 22:30] budaaaa commented on #82
@sidis405 Started working on this one please tell me when the backend is ready.

[2018-04-06 15:33] elioqoshi commented on #127
@budaaaa this isn't fixed yet. The drag button is removed, but the mouse drag icon doesn't appear on the card at all. It should appear anywhere on the card, apart over the delete button. Also when hovering over the delete button the delete button should respond visually (maybe change opacity)

[2018-04-06 18:29] budaaaa commented on #127
@elioqoshi PR-ing an update in a sec

[2018-04-06 20:42] lindsaymacvean opened #136 "Cannot Upload Icon"
I have installed a version of this software from the master branch. I now want to add an icon (I call it a logo) to the project.

Given I am on a project
When I click to add an 'icon'
And I select a jpg or png file
Then I should be able to upload the file
![image](https://user-images.githubusercontent.com/1574178/38443323-3b1f923e-39e3-11e8-8679-71e40da61a4f.png)

I have tried both jpg and png fil

[2018-04-06 21:58] elioqoshi commented on #136
@lindsaymacvean This is good feedback for not making it clear. This has been fixed in the newest dev version (where it's also called Logos). The Icons/Logo section only accepts SVG's (vector) and the user can download them or their PNG conversions on demand. So please upload SVG's there.

If you want to server JPEG/PNG's, you can upload them in the "Images" section at the end.

The software is lac

[2018-04-06 22:52] lindsaymacvean commented on #136
Cool no problem. I will upload an SVG. Hopefully this thread will be helpful to anyone else searching the issues.

[2018-04-08 04:11] kominoshja commented on #31
@elioqoshi i suggest we do this after the refactoring. That way we can implement something that works & looks nice

[2018-04-08 04:12] kominoshja commented on #32
We should probably make a full list of what the admin panel should have. @elioqoshi

[2018-04-08 04:13] kominoshja commented on #74
We would probably need to start designing how this would work after the refactoring is done.

[2018-04-08 04:15] kominoshja commented on #126
Maybe add:

Or some variation of that?
What do you think? @rskikuli @sidis405 @budaaaa @elioqoshi

[2018-04-08 13:18] rskikuli commented on #37
I think @Borisbudini has some updates on this. Please share friend.

[2018-04-09 06:32] sidis405 commented on #32
@Borisbudini That's an excellent idea :)

[2018-04-09 06:38] sidis405 commented on #37
@budaaaa I think that's a great idea. The only thing that comes to mind that could complicate this idea is the case of the server messages. Validation and/or error messages.
The same case could be made for the parts of the application that are server rendered; the server setup, emails and so on.

We could take the approach i've used a few times.
Basically we use Laravel's translation files and key

[2018-04-09 06:42] sidis405 commented on #82
@budaaaa Excellent. Right now i'm a bit knee-deep in writing the test coverage for this project and cleaning up lots of clutter but i plan to get to this asap.
I guess what i'm not yet clear on, is on which page this link would be placed and what is considered "project homepage" (especially in the case of a project shared externally to an unauth'ed guest)

[2018-04-09 06:44] sidis405 commented on #126
@Borisbudini Yep that's good. Include the project thumbnail as a cover as well.
That being said, needless to say that this page will need og:tags.

[2018-04-09 07:24] elioqoshi commented on #32
@Borisbudini feel free to come up with a draft

[2018-04-09 07:25] elioqoshi commented on #126
Sounds good to me.

[2018-04-09 07:27] elioqoshi commented on #82
It would basically be the website representing the project, or whatever the owner of the Identihub project want it to be.

[2018-04-09 07:28] elioqoshi commented on #74
The refactoring should take this into consideration though. Because if the architecture is fundamentally different, it will be a PITA

[2018-04-09 09:52] budaaaa commented on #37
I like your idea better

[2018-04-09 15:31] kominoshja commented on #74
Right. I would suggest to have a videocall about this. @sidis405 @elioqoshi what do you guys think?

[2018-04-09 15:33] kominoshja commented on #37
Hey @rskikuli! That's right, i have some exciting news about this. Ura has recently intergrated weblate into their infrastructure, which will help to translate Identihub aswell. Let me know what you think about this @sidis405 @budaaaa

[2018-04-09 16:10] budaaaa commented on #130
Can not reproduce this, on my machine the logos render out fine.

<img width="1391" alt="screen shot 2018-04-09 at 6 08 59 pm" src="https://user-images.githubusercontent.com/20214454/38509094-3d4186c2-3c21-11e8-98bf-8ae1ddc5a846.png">

[2018-04-09 16:27] budaaaa commented on #110
I believe the demo version is not updated.

[2018-04-09 16:29] kominoshja commented on #110
No, it's currently not.

[2018-04-10 08:32] elioqoshi commented on #110
@budaaaa Are you referring to this feature? No it's not. Also this is currently buggy since there needs to be input from you as the backend is getting the wrong information right now I believe.

[2018-04-10 08:36] elioqoshi commented on #74
@sidis405 is the chef for that, I'm flexible :)

[2018-04-10 09:02] elioqoshi commented on #74
I'm still unsure what to do with Logos and Icons. Should we have 2 technically similar sections which differ just by how they are named? I was thinking that Icons should be half of the size of the other cards (namely in 8 columns)

[2018-04-10 09:23] elioqoshi commented on #74
@bnvk @jancborchardt what do you think?

[2018-04-10 14:39] kominoshja commented on #136
@lindsaymacvean Thank you for pointing this out. This is currently being added to our User Documentation, so i am closing this issue for now!

[2018-04-10 14:39] #136 closed, assigned to nobody

[2018-04-11 13:16] tafodinho commented on #127
Has this issue been fixed already?

[2018-04-11 13:17] elioqoshi commented on #127
Yes

[2018-04-11 15:00] elioqoshi commented on #16
@sidis405 I think this is a very important feature for us next and would be a blocker for the next release

[2018-05-01 17:05] rskikuli opened #138 "Export project as PDF file"
Users should be able to export an Identihub page to a PDF file.

## Context
Having an exported PDF file of a specific Identihub page is important for users that are used to share visual IDs the 'old school'  way.

[2018-05-12 13:03] budaaaa commented on #110
I am closing this issue since the Solution for this issue is already pushed on the dev branch.
The problem is solved and tested.

[2018-05-13 08:07] kominoshja commented on #110
@budaaaa can you please link us to the PR that fixed this? Thanks!

[2018-05-13 08:57] elioqoshi commented on #110
As said in the other channel, please don't close issues without someone else confirming they can be closed.

This is not fixed as well. PNG's appear low resolution and stretched. Have a look:
https://dev.identihub.co/project/identihub

![image](https://user-images.githubusercontent.com/5436686/39965602-85889052-569c-11e8-9d35-cababe9a61ac.png)

[2018-05-13 09:01] sidis405 commented on #110
@elioqoshi this matter has been fixed a long time ago and the code been pulled in dev.
Those images, as far as I know are pre-existing and the fix applies to newly converted assets.
It has no way to apply the fix retroactively.

The fix is applied on the fly when new versions are created. It that has already happened in the past there really is no way to go back and fix all possible resolution s t

[2018-05-13 09:01] elioqoshi commented on #110
@sidis405, No, I just uploaded these images 5 minutes ago.

[2018-05-13 09:08] sidis405 commented on #110
That's very weird. Not sure what is pulled on that dev server. If the migration to add the png variant on the original.
To avoid breakages, this mechanism has a fallback that if the png it does not exist, it shows the svg.

It should be in fact the cause for this. If the dB column is not there at all because it has not been migrated, it will always fall back on the svg.

The only thing I can say f

[2018-05-13 09:09] kominoshja commented on #110
dev.identihub.co is an exact replica of the dev branch. Do you want to check the dB?

[2018-05-13 09:11] sidis405 commented on #110
But has the code from the pull request related to this been pulled into it?

[2018-05-13 09:13] elioqoshi commented on #110
Sure. dev.identihub.co gets dynamically updated mirroring the dev branch on GitHub.

Does it work on your server we gave you access to?

[2018-05-13 09:13] kominoshja commented on #110
Also worth noting:
The dev dB was wiped as of 30 of April. The code is up-to-date.
Based on what @elioqoshi said, these images are new, meaning there's something else wrong

[2018-05-13 09:15] kominoshja commented on #110
@sidis405 it might be affected due to the functions we are calling. Can you give me a list of the programs you installed (related to Identihub) and their version?

[2018-05-14 10:58] Akronix opened #139 "Add collaborators to a project"
Hi.

We're several people working on a project and we need all to have access to edit the assets and all the design related stuff.

I have created a project in identihub to host them but I don't see any option to add collaborators to the project :confused:

[2018-05-15 14:24] jancborchardt commented on #74
That sounds pretty good actually, yes! :) And they differ in default sort position also:
1. Logos
2. Colors
3. Typography
4. Icons
etc images etc

[2018-05-15 14:28] elioqoshi commented on #139
@Akronix thanks for opening this!

Identihub is currently in Alpha and features like that are not currently available. It's planned here:
https://github.com/uracreative/identihub/issues/34

It will be a feature for the 1.0 release scheduled later this year. It's a matter of manpower and people willing to be able to implement this. If you know anyone interested, let us know. We even might have some

[2018-05-16 21:57] budaaaa commented on #76
[#140](https://github.com/uracreative/identihub/pull/140) Created a PR for this one.

[2018-05-21 17:43] rskikuli commented on #37
@Borisbudini more info about this? Also can you point where with will be documented - it should be easy to contribute...

[2018-06-06 07:58] rskikuli commented on #4
Do you guys think that now we should also add Gitlab as a priority? @Borisbudini @elioqoshi ?

[2018-06-06 07:59] elioqoshi commented on #4
Definitely!

[2018-06-06 08:15] rskikuli opened #142 "Project documentation"
Following the discussion we have had some time ago about documentation I'd propose to document the discussion at this issue for newcomers and also get all on the same page with the way we are going to proceed with this. We have agreed on GitHub wiki right?
Please share examples of documentation of projects might help all the team. Here is my latest find https://briarproject.org/manual/.

[2018-06-13 13:22] rskikuli opened #143 "Privacy policy document"
It is important to prepare the document for Privacy Policy process of the project. An example of such document, licensed in a Creative Commons license, can be found here: https://automattic.com/privacy/

Deadline for draft: 4.07.2018
Deadline for review from @elioqoshi: 14.07.2018
Deadline for final material: 25.07.2018

[2018-06-13 13:27] rskikuli opened #144 "Terms and conditions"
The web based version and the self hosted will need to have a 'Terms and conditions' document describing in details the provisions from all involved parties. If you have an example of such document please share here.

Deadline for draft: 14.07.2018
Deadline for review from @elioqoshi : 24.07.2018
Deadline for final material: 30.07.2018

[2018-06-13 13:28] rskikuli commented on #143
This is implemented before. Apologies. Closing.

[2018-06-13 13:28] #143 closed, assigned to rskikuli

[2018-06-15 13:49] kominoshja commented on #102
This works in 'test' branch, adding this to 0.8 since it will go live on dev and demo by then!

[2018-06-15 13:49] #102 closed, assigned to nobody

[2018-06-15 13:53] kominoshja commented on #127
Closing.

[2018-06-15 13:53] #127 closed, assigned to nobody

[2018-06-17 11:18] kominoshja commented on #16
Fixed in https://github.com/uracreative/identihub/pull/145
Closing.

[2018-06-17 11:18] #16 closed

[2018-06-17 11:22] elioqoshi commented on #16
Reopening again. Seems PNG conversions output assets without any alpha transparency, so the background is white. You can try this here: https://test.identihub.co/project/dd#/view/icon/element/1

@albanafmeti please ensure to make PNG exportable with transparency like it was before

[2018-06-18 12:20] kominoshja opened #146 "Deciding a workflow for Identihub"
We need to think of a workflow on how we contribute to Identihub.
Here is my proposal.
This is inspired by @Nextcloud's [server](https://github.com/nextcloud/server/) workflow.

We have 3 main branches. `Master`, `Dev`, `Test`
`Master` is where the stable version lives. This code has been structured, put through various tests, and passed a security audit.
`Dev` is where we have a structured code.

[2018-06-18 13:04] elioqoshi commented on #146
Thanks for the thorough explanation!

Once we have releases, won't make it more sense to have branches for them? Like Nextcloud has stable13 we could have stable1 for the first release. How will the master branch be like once we have a few stable versions out? Will it be the last stable version?

Just trying to understand here. The workflow you described looks good, although I cannot completely wr

[2018-06-18 13:10] kominoshja commented on #146
Yes, we can definitively add branches which contain the code of that specific release, however I'm not a huge fan of this, since we end up with too many branches, which won't even be updated in the future. We can however use [GitHub Releases  ](https://help.github.com/articles/creating-releases/), so you can find every version of Identihub in a centralized page.

The master branch will always have

[2018-06-18 13:11] elioqoshi commented on #146
That makes sense to me and I'm in favor of using GitHub releases once we get up to speed.

[2018-06-18 13:20] kominoshja commented on #146
Here's an example of GitHub releases in demonstration: https://github.com/firefly-iii/firefly-iii/releases

[2018-06-18 15:49] elioqoshi opened #147 "Customize Asset Background color"
Starting off from this discussion: https://github.com/uracreative/identihub/issues/59

Admins should be able to determine a custom color for asset backgrounds in the interface. This will allow to properly display white assets. This should be only for display purposes but not change anything to the actual asset files (although it would be nice for JPG's to take on that background color when downloa

[2018-06-20 10:51] rskikuli commented on #146
Guys, will follow up with this by tomorrow. Thanks for the detailed proposal Boris!

[2018-06-20 21:25] kominoshja commented on #147
@elioqoshi this seems more like a frontend feature than a backend feature. Can you please tell us why you put the backend tag?

[2018-06-21 06:59] elioqoshi commented on #147
@borisbudini because the values need to be stored somewhere in the backend. Furthermore this modifies JPG output depending on the background color assigned here

[2018-06-22 06:34] rskikuli commented on #146
Not an expert on this, but it seems a reasonable path to follow. The fact that an established project like Nextcloud has this approach adds more confidence that this is the right way to proceed.+1 for GitHub releases approach as well.

[2018-06-22 11:20] elioqoshi opened #150 "reimplement sortable drag'n'drop cards component for admin view"
Currently the implementation of the sortable drag'n'drop cards component is done from scratch and doesn't work very smoothly and intuitively. We should reimplement the component with something along the lines of the Grid component here:

http://clauderic.github.io/react-sortable-hoc/#/basic-configuration/grid?_k=3cu5am

This is only available in the admin view obviously.

[2018-06-27 21:15] kominoshja commented on #146
Thank you! Closing this!

[2018-06-27 21:15] #146 closed, assigned to elioqoshi, kominoshja, rskikuli

[2018-07-02 15:59] elioqoshi commented on #124
It would be also great to have the background be black instead of white (which is common in Photo gallery apps)

[2018-07-02 16:42] elioqoshi opened #152 "custom resolutions and JPG support for Images (pixel-based)"
Images (Photos) should also have the feature to set custom resolutions by the public user in PNG and JPG similarly to the SVG assets in https://github.com/uracreative/identihub/issues/16

Mockup:
![image](https://user-images.githubusercontent.com/5436686/42175928-7b664c56-7e27-11e8-9410-316a10cc228a.png)

[2018-07-06 09:01] albanafmeti opened #154 "Rebuild the Viewer page (of assets, images, colors etc...)"
Currently the viewer page is build in a bad way, not handling the responsiveness for all devices, and I saw fixed values for width, height, transformation etc. Carousel of items isn't built in the proper way.

1.  There is an issue about the alignment of items. In different device resolution the item is not aligned on the center of the screen. It's aligned right or left.

![Capture 1](https://user

[2018-07-06 09:03] albanafmeti commented on #124
Dependent on #154

[2018-07-10 07:38] elioqoshi commented on #147
This seems to be fixed in the test branch. Thanks @albanafmeti !

![image](https://user-images.githubusercontent.com/5436686/42495968-ea4dc7e0-8424-11e8-93e2-cb093bef9622.png)

![image](https://user-images.githubusercontent.com/5436686/42495977-f3d44e1a-8424-11e8-860f-f74198946864.png)

[2018-07-10 07:38] #147 closed, assigned to nobody

[2018-07-10 07:47] elioqoshi opened #155 "Font Previews stretched and low resolution"
In the test branch, font previews are stretched:
![image](https://user-images.githubusercontent.com/5436686/42496273-c3a314e6-8425-11e8-9e3b-a0f03ae1c350.png)

Also the gallery view has a low resolution image of that font preview.
![image](https://user-images.githubusercontent.com/5436686/42496359-0b498d7a-8426-11e8-8e52-a20f7ccdf20e.png)

Could we fix this and offer a higher resolution preview?

[2018-07-10 07:57] elioqoshi opened #156 "change color of navigation icons in gallery view"
In the test branch the navigation icons in gallery view are problematic if the background color is close to the icon color:

![image](https://user-images.githubusercontent.com/5436686/42496774-690e77da-8427-11e8-8020-280809191b20.png)

Can we change the color of the icons (back, forward, close) to gray ( #808080 ) with 50% opacity? That would cover most use cases (unless it's the same gray).

An a

[2018-07-10 08:06] elioqoshi opened #157 "no hover effects for some interface items"
Some interface items have no hover effects, deprecating the User Experience as the user is not sure if they are used the way they should be used. Example:

![image](https://user-images.githubusercontent.com/5436686/42497079-54d1e8aa-8428-11e8-908e-cc1abc627237.png)

The inactive tabs could slightly change background color once you hover over them. Same with the copy link button and the download bu

[2018-07-10 08:10] elioqoshi opened #158 "font selection modal window too small"
When adding a font and searching out of the Google Fonts library, the modal which appears is quite small, has a lot of margins and the scroll view is very small. Also the option to add fonts is nested within the scroll view instead of the modal itself.

![image](https://user-images.githubusercontent.com/5436686/42497342-593466ba-8429-11e8-85e9-dca7ff13a3a7.png)

The modal screen could be bigger, m

[2018-07-10 08:16] elioqoshi opened #159 "Font default names inconsistent"
When adding fonts some are based on their weight number while some on their weight name. For example when you add "Open Sans Light" it appears as Open Sans 300:

![image](https://user-images.githubusercontent.com/5436686/42497485-ce0b0d04-8429-11e8-9a5b-b4b3c65611fe.png)

This is no huge issue but should be consistent out of the box.

Also when adding a Regular font it's not written in title case

[2018-07-10 08:23] elioqoshi opened #160 "section description and title don't allow input with less than 4 characters"
I tried changing the title and description of a section to "Ink" but it doesnt get saved. It seems anything under 4 characters doesnt get saved.

![image](https://user-images.githubusercontent.com/5436686/42497877-06d02efc-842b-11e8-9b85-21ec334dc700.png)

A project admin should be able to put in any input in those text fields, as long as it's >1

[2018-07-10 08:35] elioqoshi opened #161 "color cards preview RRR instead of RGB"
![image](https://user-images.githubusercontent.com/5436686/42498497-9f5940ea-842c-11e8-96a2-c0f87bf494e6.png)

Colors have their color values in "RRR" instead of "RGB"

It should be like that:

![image](https://user-images.githubusercontent.com/5436686/42498583-d59ed854-842c-11e8-8031-9d456c58a4c6.png)

[2018-07-10 08:37] elioqoshi opened #162 "copying the RGB value of a color instead copies the hex color code"
![image](https://user-images.githubusercontent.com/5436686/42498668-12e798e0-842d-11e8-81e4-5fb807ecc0ed.png)

When pressing the copy button for the rgb value in gallery view of a color it copies the hex code instead.

[2018-07-10 08:40] elioqoshi commented on #82
@albanafmeti do you think this could be something easily doable?

[2018-07-10 11:29] kominoshja commented on #142
Hi!
Yes, we decided to have our documentation on the wiki.
I will start soon with this, and it will be ready once 0.9 is published :)

[2018-07-12 14:37] kominoshja commented on #158
Besides from being bigger, we should reduce the border side, so that we don't have a huge white block.

[2018-07-12 14:38] kominoshja commented on #157
Should we have a copy button, or would we rather make the text fields with link clickable so they copy the URL automagically?

[2018-07-12 14:39] kominoshja commented on #156
I would vote for the Invert Blending Mode, as it is adaptable with every color.

[2018-07-12 15:05] kominoshja commented on #31
This is dependent on the admin panel.

[2018-07-12 15:08] kominoshja commented on #33
Including https://github.com/uracreative/identihub/issues/34 as part of this.

[2018-07-12 15:09] kominoshja commented on #34
This is just an expansion of #33. Closing.

[2018-07-12 15:09] #34 closed

[2018-07-12 15:15] kominoshja commented on #37
Let's pick this issue from the begging.
Having Identihub in many languages is a must because: 1. It allows more users; 2. It allows more contributors!
We have a Weblate server which has automation in it.
Let's divide the experience:
**User**
This means that a contributor would just register at our server & start translating. And that's it
**Team**
The team has to review the translation and accept

[2018-07-12 15:18] kominoshja commented on #51
I imagine this would be the equivalent of README.md
We should discuss how this intergrates with UX @elioqoshi

[2018-07-12 15:35] elioqoshi commented on #51
It's in fact very different from Readme.md as it's a Brand Guideline/ Tone of Voice, whatever writing relevant for the project.

[2018-07-14 10:34] #152 closed, assigned to nobody

[2018-07-14 14:48] elioqoshi commented on #157
That's not good UX so it should stay as it is.

[2018-07-18 18:36] albanafmeti commented on #156
Dependent by #154

[2018-07-20 21:43] Borisbudini commented on #159
Merged in https://github.com/uracreative/identihub/pull/167
![screenshot from 2018-07-20 23-42-27](https://user-images.githubusercontent.com/11447306/43026591-a1ab5188-8c76-11e8-9b57-7fdf70650d9f.png)

[2018-07-20 21:43] #159 closed, assigned to nobody

[2018-07-20 21:45] kominoshja commented on #159
Merged in https://github.com/uracreative/identihub/pull/167
![screenshot from 2018-07-20 23-45-25](https://user-images.githubusercontent.com/11447306/43026667-ff1edc90-8c76-11e8-93c3-68d1dd073997.png)

[2018-07-20 21:49] kominoshja commented on #158
Fixed in https://github.com/uracreative/identihub/pull/166/
![screenshot from 2018-07-20 23-46-40](https://user-images.githubusercontent.com/11447306/43026798-86c4257e-8c77-11e8-8228-14666d5c0339.png)
![screenshot from 2018-07-20 23-46-30](https://user-images.githubusercontent.com/11447306/43026799-86f3fcd6-8c77-11e8-91a0-5f389bd3fbd6.png)

[2018-07-20 21:49] #158 closed, assigned to nobody

[2018-07-20 21:54] kominoshja commented on #160
@albanafmeti I just tried your PR
![screenshot from 2018-07-20 23-53-00](https://user-images.githubusercontent.com/11447306/43026926-12e3c5d2-8c78-11e8-9348-bb027e762c4c.png)
It does work! However, whenever i put only 1 character in the section title, all the titles are reset. Can we make Identihub show an error message instead of deleting all section titles?

[2018-07-20 22:19] Borisbudini commented on #154
I did as much testing as i could think of and I didn't see any problem. Merging.

[2018-07-20 22:20] kominoshja commented on #154
Merged in https://github.com/uracreative/identihub/pull/163/

[2018-07-20 22:20] #154 closed, assigned to albanafmeti

[2018-07-21 08:46] elioqoshi commented on #160
Can't we just allow the input of 1 character too?

[2018-07-21 11:56] kominoshja commented on #160
That would be a workaround which would not make too much sense in my opinion, since I can't see the benefit of having only 1 character for Section Titles.
Therefore I would suggest making section titles use at least 2 characters.

[2018-07-21 12:14] elioqoshi commented on #160
Don't assume what users need it for. A, B, C or numeration 1,2,3 can make sense for some. Why restrict it artificially? What's the win?

[2018-07-21 12:35] kominoshja commented on #160
Whether we make it 1 or 2 we still need to add an error message. Why not leave it as is and in case many users complain, we can easily change it to 1.

[2018-07-21 13:15] elioqoshi commented on #160
Why? What's the reason? "change if users complain" is not an ideal reason to do something as this is supposed to be well designed by design. Why would you restrict a user put 1 character? What problem are you addressing with that? What bad could happen if there is 1 character?

[2018-07-21 19:25] albanafmeti commented on #160
PR has been updated with all fixes.

[2018-07-21 19:27] albanafmeti commented on #156
@elioqoshi @Borisbudini
Check the new implemented VIEWER PAGE, and if everything is fine, close this issue.

[2018-07-23 06:16] kominoshja commented on #160
Thanks @albanafmeti. Will look at the PR today

[2018-07-23 06:18] kominoshja commented on #160
@elioqoshi because this is a papercut discussion, and I'd rather we work on v0.8 features right now.
Also, please explain why you proposed to restrict to >1 characters in the issue

[2018-07-23 06:30] kominoshja commented on #161
Merged.

[2018-07-23 06:30] #161 closed, assigned to nobody

[2018-07-23 06:36] kominoshja commented on #156
@albanafmeti the issue still seems to occur on #494949 and #585a51

[2018-07-23 06:39] kominoshja commented on #162
Merged.

[2018-07-23 06:39] #162 closed, assigned to nobody

[2018-07-23 06:43] kominoshja commented on #160
Merged.

[2018-07-23 06:43] #160 closed, assigned to nobody

[2018-07-27 13:23] kominoshja commented on #134
Merged in #169

[2018-07-27 13:23] #134 closed, assigned to nobody

[2018-07-27 13:23] kominoshja commented on #133
Merged in #169

[2018-07-27 13:23] #133 closed, assigned to nobody

[2018-07-27 13:37] albanafmeti commented on #124
Resolved on #163

[2018-07-27 13:37] #124 closed, assigned to nobody

[2018-07-28 10:36] elioqoshi commented on #129
This has been fixed long time ago.

[2018-07-28 10:36] #129 closed, assigned to nobody

[2018-07-28 10:37] elioqoshi commented on #122
This is fixed as far as I know.

[2018-07-28 10:37] #122 closed, assigned to nobody

[2018-07-28 10:39] elioqoshi commented on #158
@Borisbudini is this live on test.identihub.co ? Because it appears the same to me.

[2018-07-28 11:02] elioqoshi opened #171 "User Profiles & Settings"
Every User needs to be able to access their user profile and update it when needed. Currently, clicking on the name of the user brings you to the list of projects. It should bring you to the profile instead.

A profile would include:

Display Name: _________
User Name: __________
Email: _________
Password: ___________
Retype Password: _________

This would allow users to change their profile as th

[2018-07-28 11:03] elioqoshi commented on #33
A smaller subtask of this is: https://github.com/uracreative/identihub/issues/171

[2018-07-28 13:32] elioqoshi opened #172 "Project Settings"
As Projects are having more features, it would be good to nest their settings on a dedicate page / window. This is crucial for User Privileges https://github.com/uracreative/identihub/issues/33 and Password Protected Pages https://github.com/uracreative/identihub/issues/31

Here is a suggested mockup I worked on today, heavily based on what GitHub is doing:
![project settings](https://user-images.

[2018-07-29 12:15] kominoshja opened #173 "Assets do not reload when quitting Asset Viewer"
Whenever there's a change to the asset, for example we update that asset, after we quit the Asset Viewer, the page is not reloaded, which in turn shows the first asset. Below are pictures so you can better understand the problem

 ![screenshot_2018-07-29 identihub - s](https://user-images.githubusercontent.com/11447306/43366169-84a8526a-9339-11e8-92a6-ece35d8b8e28.png)
***
![screenshot_2018-07-29

[2018-07-29 12:52] kominoshja commented on #120
Merged.

[2018-07-29 12:52] #120 closed, assigned to nobody

[2018-07-29 12:52] kominoshja commented on #173
Merged.

[2018-07-29 12:52] #173 closed, assigned to nobody

[2018-07-29 14:18] elioqoshi opened #175 "loss of quality in conversions with higher resolutions"
In the current version, converting any PNG or JPG asset with a higher resolution than the SVG viewbox default one, results in lossy images, apparently being converted from a source raster file instead of PNG. For example in this project: https://demo.identihub.co/uradesign#/view/icon/element/349

I converted the default resolution of 481px to 4810px and got this result:
![uradesign_icons_converted

[2018-07-29 14:24] elioqoshi commented on #156
There are white borders which don't recieve any background color assigned to that asset:

![image](https://user-images.githubusercontent.com/5436686/43367357-d26d2bd0-934b-11e8-8044-6f80883e3799.png)

The background color should be for the whole viewer, like in this mockup here:
![image](https://user-images.githubusercontent.com/5436686/43367361-e02b457c-934b-11e8-8586-a4bc24a7bc62.png)

@albanafm

[2018-07-29 14:30] elioqoshi opened #176 "color picker broken HSL selection"
In the HSL color space selection in the color picker, changing any values resets them all and turns the selected color to black:

![image](https://user-images.githubusercontent.com/5436686/43367393-68e5d382-934c-11e8-80e5-766757ea1275.png)

Also the Alpha slider is not changeable (probably since there is no Alpha channel for the color. I suppose a library is used for this? Can these things be cust

[2018-07-29 14:45] kominoshja commented on #17
Based on https://github.com/uracreative/identihub/issues/17#issuecomment-376706608 shall we close this? @elioqoshi

[2018-07-29 14:49] kominoshja commented on #66
@rskikuli Can we have a list of the licenses that user's can chose?

[2018-07-29 14:51] kominoshja commented on #82
Dependent on https://github.com/uracreative/identihub/issues/172

[2018-07-29 14:58] kominoshja commented on #110
This does seem to be already working on `Test`
The state of this on [Demo](https://demo.identihub.co) is even funnier:
It works for new uploads, but not for old ones.
@albanafmeti any thoughts on how to trigger this process?

[2018-07-29 15:05] kominoshja commented on #126
@albanafmeti You may want to check this.

[2018-07-29 15:07] kominoshja commented on #139
Duplicate of https://github.com/uracreative/identihub/issues/33

[2018-07-29 15:07] #139 closed, assigned to nobody

[2018-07-29 15:08] kominoshja commented on #138
Part of https://github.com/uracreative/identihub/issues/172

[2018-07-29 15:10] kominoshja commented on #144
Is the deadline for this still applicable?

[2018-07-29 15:11] kominoshja commented on #150
This has some problems on implementation and needs more time. Removing milestone.

[2018-07-29 15:45] elioqoshi commented on #52
Mockup for enabling a DONT USE flag for an asset

![image](https://user-images.githubusercontent.com/5436686/43368057-2cbfae5e-9357-11e8-8f22-ce1274ce0fb9.png)

[2018-07-29 15:50] elioqoshi commented on #52
In the cards view it should appear with a basic red X on the corner to show it should not be used:
![image](https://user-images.githubusercontent.com/5436686/43368095-e8878b02-9357-11e8-81d7-2d124bb27c0a.png)

[2018-07-29 15:51] kominoshja commented on #52
Great. @albanafmeti let's proceed with this

[2018-07-29 15:55] kominoshja commented on #110
We should close after triggering the process on Demo.

[2018-07-29 15:58] elioqoshi commented on #52
This is how it should look like in Gallery view:
![image](https://user-images.githubusercontent.com/5436686/43368169-4b37af88-9359-11e8-8068-7ecc20985dd0.png)

Downloading the SVG or PNG/JPG conversions should be disabled for public users for assets with DONT USE flags.

[2018-07-29 16:08] elioqoshi commented on #110
This is as intended as we didn't want to break old ones and left them appear as SVG. It's good as it is (but there is still resolution problems I think. Images appear smaller because their source SVG has a smaller size so a smaller PNG gets created which also displays smaller:

![image](https://user-images.githubusercontent.com/5436686/43368226-520ee5dc-935a-11e8-912b-78ff3054cbf4.png)

This shoul

[2018-07-29 16:10] kominoshja commented on #110
Haven't seen any resolution problem. Can you please link me to one? (From the Demo, since we know the code better there)

[2018-07-29 16:10] elioqoshi commented on #138
Why is this part of Project Settings? If this gets added any Public User should be able to Export PDF style guides.

[2018-07-29 16:11] kominoshja commented on #138
Shouldn't that be a setting for the Project Admin to decide?

[2018-07-29 16:14] elioqoshi commented on #110
Here: https://demo.identihub.co/uradesign#/view/icon/element/686

The icon should occupy way more space. It's limited by the PNG resolution used for the gallery.
It should ideally use a big resolution to appear at least something like:

![image](https://user-images.githubusercontent.com/5436686/43368288-32c3ff22-935b-11e8-81a5-13f59d479985.png)

[2018-07-29 16:15] kominoshja commented on #110
I was referring to resolution as in the image losing it's sharpness actually

[2018-07-29 16:15] kominoshja commented on #110
The problem you just commented can be fixed by converting a bigger svg

[2018-07-29 16:17] elioqoshi commented on #175
Okay sorry for the alarm. This seems to happen only with old assets (those which are still displayed as SVG's before the upgrade). New assets which I upload now and are downloaded work fine. It would be nice to have some way to fix that for old assets but that's not any big deal. Closing this.

[2018-07-29 16:23] elioqoshi commented on #110
It was just a quick dirty mockup. Just to show the size

Sure it can be fixed like that, but that's not how it's intended to be used. SVG's are not raster images and have no size. viewBox serves as the size for which the resolution gets created for. And that is seemingly not enough. If I want to upload favicons which are traditionally 32x32px and preview them properly in Identihub, I wouldn't resi

[2018-07-29 16:24] kominoshja commented on #110
Right. So what do you suggest?

[2018-07-29 16:25] elioqoshi commented on #138
To allow PDF Export downloads of the whole page for the public? Yeah that yes.

[2018-07-29 16:30] elioqoshi commented on #110
Increase the DPI used for producing the PNG in the gallery view. A fixed resolution for these images can be used (e.g: 600x600px) or depending whether height or width is bigger something different. @albanafmeti will know the details of this I assume

[2018-07-29 16:32] elioqoshi commented on #110
Of course producing 2000x2000px images wouldnt make sense as that's overkill and pageload would increase. So a good number needs to be found (which unless you have a 4K monitor, seems to be around 1000px.

This is kind of complicated however since you'd want to serve for 4K displays as well, so having HQ PNG's is a must at some point. Man, displaying SVG's was so easier and less painful :)

[2018-07-29 22:15] kominoshja opened #177 "Unable to add fonts, getting server error"
Identihub doesn't add new fonts anymore.
From the server i get `{"error":"Entry not found"}`
This occurs on [`Test`](https://test.identihub,co)
@albanafmeti can we check this?

[2018-07-30 15:33] jancborchardt commented on #52
Aaalright, that looks super cool! :) Thanks a lot! And yes, makes sense to disable the downloading for those.

[2018-07-31 10:57] albanafmeti commented on #33
@elioqoshi This needs mock-ups.

[2018-08-01 09:24] elioqoshi commented on #33
I already did mockups for the Project Settings. User Settings is the next thing.

[2018-08-02 09:56] kominoshja commented on #177
Resolved.

[2018-08-02 09:56] #177 closed, assigned to nobody

[2018-08-03 15:07] elioqoshi commented on #175
Okay, it seems this is still happening with new assets. Check it out here:
https://demo.identihub.co/turkusec

I try to export a 2000px image but get high quality loss. This is very critical.

[2018-08-04 21:22] kominoshja commented on #52
Merged in https://github.com/uracreative/identihub/pull/180

[2018-08-07 11:38] mkraetke opened #182 "Selecting fonts has no effect"
I've tried to select Roboto Condensed Light and Roboto Regular Light but the selected fonts didn't appear in the dashboard.

I've noticed that after I clicked on the button _Add fonts_, that my Firefox dev console throwed these errors:

[code]

I can reproduce this error with Firefox 61.0.1 and Chrome Version 68.0.3440.84. I have not tested the issue with Edge and Internet Explorer.

[2018-08-14 10:09] elioqoshi commented on #51
Basic mockup here:
![image](https://user-images.githubusercontent.com/5436686/44085709-a01361ce-9fba-11e8-97e4-0ab21db1b8a3.png)

It's basically the same fields on the left for the other categories but in 100% width here and 14px paragraph font size instead of 12.

Please note that this is MVP and a good implementation of this feature would have better typography hierarchy, more modularity and mar

[2018-08-16 13:26] kominoshja commented on #182
Hi @mkraetke
Thank you for reporting this. I apologise for the lack of response but i was on vacation.
This is a known and fixed issue on the test branch, but demo.identihub.co is not yet updated. demo.identihub.co will be updated soon! (within this week)

[2018-08-16 13:27] #182 closed, assigned to nobody

[2018-08-16 13:52] kominoshja commented on #110
This is closed since it does show PNG instead of SVG. The problem of resolution takes place in https://github.com/uracreative/identihub/issues/175

[2018-08-16 13:52] #110 closed, assigned to nobody

[2018-08-16 13:55] kominoshja opened #184 "Adding a new font is not reflected"
Previously on Identihub we had issue https://github.com/uracreative/identihub/issues/177 where we couldn't add fonts.
While you can add fonts now, you need to reload the page for the new fonts to be shown.
From the console we get HTTP 200, however {"error":"Server error"} response.

[2018-08-16 15:00] kominoshja commented on #176
Merged with https://github.com/uracreative/identihub/pull/179

[2018-08-16 15:00] #176 closed, assigned to nobody

[2018-08-16 15:40] kominoshja commented on #17
Closing.

[2018-08-16 15:40] #17 closed

[2018-08-18 11:27] kominoshja commented on #184
Seems to be a permission issue. Closing

[2018-08-18 11:27] #184 closed, assigned to nobody

[2018-08-18 12:08] Borisbudini commented on #184
Seems to be a permission issue. Closing

[2018-08-22 13:19] kominoshja commented on #4
Merged in https://github.com/uracreative/identihub/pull/183. Hooray!

[2018-08-22 13:19] #4 closed

[2018-08-22 13:21] kominoshja commented on #32
On the CLI side, this should be controlled with the option `REGISTRATION_ALLOWED=TRUE` (opened) / `REGISTRATION_ALLOWED=FALSE` (closed) in the `.env` file

[2018-08-22 13:21] kominoshja commented on #32
Accidentally closed. Apologies.

[2018-08-25 00:10] kominoshja commented on #14
Issue fixed in https://github.com/uracreative/identihub/pull/186

[2018-08-25 00:10] #14 closed

[2018-08-25 00:30] kominoshja commented on #150
Maybe this works? @albanafmeti
http://cheton.github.io/react-sortable/

[2018-08-25 11:51] albanafmeti commented on #150
@elioqoshi needs to confirm if that's fine.

[2018-08-25 11:53] elioqoshi commented on #150
No, that looks almost worse than what we have right now.

[2018-08-25 12:39] kominoshja commented on #51
This has been merged in https://github.com/uracreative/identihub/pull/185.
Try it at https://test.identihub.co

[2018-08-25 15:14] elioqoshi commented on #51
Thanks @Borisbudini !

However, "Writing' is not the exactly correct term as it's very specific while we just want to have 'Text'. Please @albanafmeti change the naming to 'Text'.

[2018-08-25 15:17] elioqoshi commented on #51
Also @albanafmeti the text box shouldn't have a set height. No scrollbar should appear and the box should have the height of however much text is in there.
Currently:
![image](https://user-images.githubusercontent.com/5436686/44619662-bb87ea00-a88a-11e8-8f74-9e2eea5cebf3.png)

Furthermore, there is no way to select/copy any text (as a logged-out user) which is highly critical for this feature. Cou

[2018-08-29 20:58] kominoshja commented on #32
Merged in https://github.com/uracreative/identihub/pull/188

[2018-08-29 20:58] #32 closed

[2018-09-04 22:48] kominoshja opened #190 "Status page for Identihub"
It'd be really nice to have a page which reports the status of `identihub.co`, `demo.identihub.co`, `dev.identihub.co`, `test.identihub.co`, and future servers Identihub will use!

[2018-09-05 14:33] elioqoshi commented on #190
This has been added as a nice feature to have for MOSS but I think it should be done separately beyond that. Let's revisit this again in 1-2 months.

[2018-09-05 14:41] elioqoshi commented on #14
@kominoshja where can we see this live?

[2018-09-05 14:43] elioqoshi commented on #144
Plans on this @rskikuli ?

[2018-09-05 20:19] kominoshja commented on #14
https://test.identihub.co :)

[2018-09-05 20:22] kominoshja opened #191 "Terminology used in Identihub"
We need to create a proper terminology for the components used in Identihub, as there seems to be a confusion in the community!

[2018-09-06 10:01] elioqoshi commented on #14
Perfect, thanks!

[2018-09-06 10:41] elioqoshi opened #192 "icons / logos stretched when height bigger than width"
icons / logos are stretched in the project view when the icon itself has a bigger height than width:

![image](https://user-images.githubusercontent.com/5436686/45152662-fc102d80-b1d1-11e8-8768-dcc233f84f57.png)

They look fine in gallery view however. Their width appearance should be consistent and not fill the card

Tested on: https://test.identihub.co/test-tor#/

[2018-09-13 08:47] keunes commented on #150
For me (end user with very limited tech background), drag-n-drop looks & works nice, when it works. I wouldn't necessarily change the 'how' but rather the stability: sometimes I can't use drag-n-drop anymore after using it once. Refreshing the page will re-enable it.

[Edit] Also (not sure if it should get its own ticket), drag-n-drop of sections would be a welcome addition.

[2018-09-13 08:55] keunes opened #193 "Names for colours"
A welcome addition would be able to give titles or names to colours. These could display on top of the colour block (just as the HEX is displayed right now).

I could imagine it being displayed on the top left of each colour block (left from the trash icon that will appear on hover). Also, there should probably be a max # of characters allowed.

## Context
Our website has a lot of colours without

[2018-09-13 09:51] rskikuli commented on #191
Agree. Can you please be more specific by giving some examples? What issues have you identified ?

[2018-09-13 09:52] rskikuli commented on #144
@kominoshja please do not add milestones, since they should be as a result of discussion and agreement.

[2018-10-31 20:56] kominoshja opened #194 "Chose where the files are uploaded"
It would be nice if we can chose where Identihub uploads it's assets
That allows us to have assets stored on a bigger storage device (especially useful for cases such as Demo hosted on DigitalOcean)

[2018-11-05 18:00] elioqoshi commented on #195
@rskikuli I transferred this issue from the Ura repo to the Identihub repo here

[2018-11-18 12:51] theel0ja opened #196 "Remove 3rd-parties on the website"
for Google Fonts: https://google-webfonts-helper.herokuapp.com/
for Font Awesome: Download it locally

cc: @AnXh3L0

[2020-01-13 21:26] vonbarnekowa opened #198 "Is this projet dead ?"

[2020-01-13 21:27] AnXh3L0 commented on #198
Hey there @vonbarnekowa,

At the moment Identihub is in a dormant state from lack of funding. We will hopefully resume development of it soon.

[2020-01-20 18:04] vonbarnekowa commented on #198
It's sad that we can't install an on-prem version which is the same as the one on the demo. Even if the project is dormant...